<a href="https://colab.research.google.com/github/kalz2q/myjupyternotebooks/blob/master/010kagglepythonhello001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# はじめに その1
1. Colabは学習生産性が高い。なぜなら試行錯誤、壊しながら学ぶことができる。
2. ノートブックをColabで開くだけで、元のノートのコピーができて、環境ができて、実験学習ができる。まずは上の`Open in Colab`ボタンでColabで開いてみてください。
3. 欠点はよくも悪くもPythonがベースなこと。Pythonのどこがきらいかというと、変数のスコープがいいかげん、オブジェクト指向がいいかげん、関数プログラミングがいいかげん。いまどきのプログラミングができない、使っているだけで頭が悪くなる、と思う。
4. それでもしかし、入門には最適なことは否めないので入門書をColabで作って、GitHubに上げておきたい。
5. 1ファイルの大きさは1000行を目安に最大で5000行くらいにしたいと思っています。

# はじめに その2
kaggleのpythonチュートリアルをベースに変形していきます。

https://www.kaggle.com/colinmorris/hello-python#Intro

元は英語なので、はしょりながら日本語にしていく過程で変形するのと、練習問題、例題は可能なかぎり換骨奪胎する予定です。

順序としては、軽く、Python文法、変数と演算子の概説から入っていきます。

# Hello, Python!
Pythonの名前はイギリスのコメディ劇団モンティ・パイソンから来ています。

コードを読んで、どんな出力になるか考えてみてください。ぜんぜんわからなくても問題ありません。

考えたら、実行ボタンを押して、結果を見てみましょう

In [2]:
amount_in_dollars = 0
print(amount_in_dollars)

# accumulated 4 dollars
amount_in_dollars = amount_in_dollars + 4

if amount_in_dollars > 0:
    print("I don't want ANY money!")

money_song = "Money " * amount_in_dollars
print(money_song)

0
I don't want ANY money!
Money Money Money Money

説明します。

短い馬鹿げたプログラムですが、Pythonコードがどんなものか、どういうふうに実行されるかについて重要な点が表現されています。

では、頭から順に見ていきましょう。

In [ ]:
amount_in_dollars = 0

変数への代入: ここでは `amount_in_dollars` という名前の変数が作られ、`=`を用いて0がアサインされています。`=`は代入演算子と呼ばれます。

> 補足: Java or C++) など他のプログラミング言語を経験した方は、Pythonでは必要のないいくつかの特徴に気づいたかもしれません。
* 値を代入する前に、変数 `amount_in_dollars` を宣言する必要はありません。
* 変数 `amount_in_dollars` に代入される値のタイプを事前に決める必要はありません。 一旦数値を代入したあとに文字列やブール型の値を代入することもできます。

In [3]:
print(amount_in_dollars)
type (amount_in_dollars)

4

int

関数の呼び出し: `print` は Python の関数で、与えられた値を画面に表示します。関数名のあとにカッコをつけることによって、関数を呼び出します。カッコの中には入力値(引数)を入れます。

`type`もPythonのビルトイン関数で引数の型を返します。

In [ ]:
# accumulated 4 dollars
amount_in_dollars = amount_in_dollars + 4

上のコードの最初の行はコメントです。 Python ではコメントは`#`記号で始まります。

次の行は再代入 `reassignment` の例になります。変数を作成したときと同じ `=` 演算子を使います。

この例では `amount_in_dollars` への再代入に際し、以前の値に簡単な計算を施しています。この行のところに来ると、Pythonは`=`の右辺すなわち `(0 + 4 = 4)` を評価し、その結果を、左辺の変数に代入します。

In [4]:
if amount_in_dollars > 0:
    print("I don't want ANY money!")

money_song="Money Money Money"
print(money_song)

I don't want ANY spam!
Money Money Money

条件式 "conditionals" についてはまだ詳しくは述べませんが、プログラムしたことのない人でもこのコードのやっていることは想像がつくでしょう。Pythonはとても読みやすく、簡単な言語です。

どのようにして、コードの if に属する部分を区別しているかについて説明します。

 "I don't want ANY money!" が出力されるのは、amount_in_dollars が正の値の時だけです。ところが、そのあとのコード(たとえば print(money_song))は条件にかかわらず実行されます。Pythonはどうやってこれを区別しているのでしょうか。

if のある行のコロン (:) がコードブロックが始まることを示します。そのあとのインデントされている行がコードブロックを形成します。他の言語は一般的には`{curly braces}`でコードブロックの始まりと終わりを示します。Pythonがホワイトスペースに意味付けをして使うことは、他の言語に慣れたプログラマーが驚きますが、実際には統一的で読みやすいコードになります。

他の言語でもコードブロックをインデントすることによって読みやすくすることはありますが、必須ではありません。プログラマーに任されています。

次からの行はmoney_songを扱っていて、4スペースでインデントされていないので、if のコードブロックには属していません。インデントされたコードブロックの例はあとで関数の定義とくり返しの説明の時に出てきます。

このコードスニペットで初めてPythonにおける文字列の例が出てきています。
```
"I don't want ANY money!"
```

文字列はダブルクォートもしくはシングルクォートで囲まれます。この例の場合は文字列がシングルクォートを含んでいますので、なんらかの対応をしないと全体をシングルクォートで囲むことはできません。対応方法については後述します。

In [ ]:
money_song = "Money " * amount_in_dollars
print(money_song)

Spam Spam Spam Spam

演算子`*` はふつうはふたつの数字を掛け合わせる (3 * 3 -> 9) のに使われますが、おもしろいことに文字列に演算子 `*` を使うと文字列の繰り返しになります。他にも演算子 `+` が数字に使われる時と文字列に使われる時が違う意味で便利に使えるようになっています。この仕組みを演算子オーバーロードと言います。

## Pythonの数字と演算について
すでに数字を含む変数の例を一つ見ました。

In [ ]:
amount_in_dollars = 0

数字にもいろんな種類があります。Pythonの`type`という関数を使うと、型 `type` を表示するできます。

In [ ]:
type (amount_in_dollars)

int

In [5]:
if type (amount_in_dollars) == int:
  print ("整数!!!!")

整数!!!!

これで、amount_in_dollarsが `int` であることがわかりました。`int` は integer (整数) の省略形です。
次はどうでしょうか。

In [ ]:
type (19.95)

float


`float` は浮動小数点型で重さや割合を表すのに便利な数字です。

`type()` は `print()` と同様にPythonに始めからあるビルトイン関数の一つです。型を確認するのに便利に使えます。

数字について電卓にあるような四則演算の演算子は Python にもあります。

| Operator	| Name	| Description |
| ---- | ---- | ----|
|a + b  | Addition	     |   Sum of a and b |
|a - b	| Subtraction	   |   Difference of a and b |
|a * b	| Multiplication |	 Product of a and b |
|a / b	| True division	 |   Quotient of a and b |
|a // b	| Floor division |	 Quotient of a and b, removing fractional parts |
|a % b	| Modulus	       |   Integer remainder after division of a by b |
|a ** b	| Exponentiation |	 a raised to the power of b |
|-a	    | Negation	     |   The negative of a |

割り算の演算子が2種類あることに注意してください。
電卓の割り算は "True division" です。

In [ ]:
print (5 / 2)
print (6 / 2)

2.5
3.0

In [ ]:
print (9 // 4)
print (-9 // 4)

2
-3

演算子 `/` の結果は常に `float` です。

演算子 `//` は割り算の結果以下の最大の整数を返します。

In [ ]:
print (5 // 2)
print (6 // 2)

2
3

これがどんなところで便利かわかりますか？ そんな例はもうすぐ目にすることができます。

### 演算の優先順位
小学校で習う算数で、計算には順序があることを習います。PEMDAS というニーモニックを覚えている人もいるでしょう。
* Parentheses カッコ
* Exponents 冪乗
* Multiplication/Division 乗算/除法
* Addtion/Subtraction 加算/原産

Python においてもほぼ似たようなルールが適用されます。

In [ ]:
8 - 3 + 2

7

In [ ]:
-3 + 4 * 2

5

次の例ではカッコによって強制的に計算の順序を変える必要があります。

In [6]:
# 頭を除いた肩までの高さを計算する
head_height_cm = 25
my_height_cm = 190
shoulder_height_meters = ( my_height_cm - head_height_cm ) / 100
print("Shoulder height in meters = " ,  shoulder_height_meters, "?")

Shoulder height in meters =  1.65 ?

# 数字に関するビルトイン関数
`min` と `max` は引数の最小値と最大値を返します。

In [ ]:
print(min(1, 2, 3)) 
print(max(1, 2, 3))

1
3

`abs` は引数の絶対値を返します。

In [ ]:
print(abs(32)) 
print(abs(-32))

32
32

`float` と `int` は数字の型の名前であるだけでなく引数の型を変換する関数として呼び出すことができます。

In [9]:
print(float(10)) 
print(int(3.33))
print (int (-3.33))
print(-3.33 // 1)

10.0
3
-3
-4.0

In [10]:
# They can even be called on strings!
print(int('807') + 1)
10.0
print(float('33.3') + 0.2 )

808
33.5

# 練習問題
https://www.kaggle.com/takayukikatsuya/exercise-syntax-variables-and-numbers/edit

練習問題のページにようこそ！

練習問題ではColabのノートブックの機能を使って実際にプログラムを書いて、実行してみることになります。

最初にためしに次のコードセルを、実行してみてください。

* 実行ボタンを押す。
* セルをクリックして選択してから、`Ctrl+Enter` を押す。

どちらの方法でもかまいません。

In [11]:
print("Pythonコードを実行しました!!!!") 
print("おめでとう!!!!")

Pythonコードを実行しました!!!!
おめでとう!!!!

コードを追加したり変えてみて、再度実行してみましょう。

### 問題 0. 変数、代入、文字列
*あなたの好きな色は何色ですか？*

colorという変数を作って、値を代入する。文字列はシングルクォートまたはダブルクォートで囲みます。

In [ ]:
color = "pink"
print(color)
type(color)

pink

str

### 問題 1. 四則演算
| 演算子	| 名前	| 説明 |
| ---- | ---- | ----|
|a + b  | 加算	     |   aとbの合計 |
|a - b	| 減算	   |   aとbの差分 |
|a * b	| 乗法 |	 aとbの積 |
|a / b	| 除法	 |   aとbの商 |
|a // b	| 床除法 |	 aとbの商から少数部分を除いたもの |
|a % b	| 余り       |   整数割り算の余り |
|a ** b	| 冪乗 |	 aのb乗 |
|-a	    | マイナス	     |   マイナスa |

In [14]:
pi = 3.14159 # 少数5桁までの円周率π
diameter = 3 # 直径

# 直径の半分の長さの半径(radius)という名前の変数を作る
radius = diameter / 2

# 公式 円の面積 = 円周率かける半径の二乗 を使って円の面積を(area)計算する
area = pi * radius ** 2
print ("円の面積: " , area)

円の面積:  7.0685775

# いまここ

## 問題 2. 変数aとbの中身を入れ替える
つまり、aの中身が以前のbでbの中身が以前のaになるようにする。


########### Setup code - don't touch this part ######################
# If you're curious, these are examples of lists. We'll talk about 
# them in depth a few lessons from now. For now, just know that they're
# yet another type of Python object, like int or float.
a = [1, 2, 3]
b = [3, 2, 1]
q2.store_original_ids()
######################################################################
​
# Your code goes here. Swap the values to which a and b refer.
# If you get stuck, you can always uncomment one or both of the lines in
# the next cell for a hint, or to peek at the solution.
​
######################################################################
​
# Check your answer
q2.check()





#q2.hint()





#q2.solution()


## 3.
a) Add parentheses to the following expression so that it evaluates to 1.






5 - 3 // 2





#q3.a.hint()





# Check your answer (Run this code cell to receive credit!)
q3.a.solution()





Questions, like this one, marked a spicy pepper are a bit harder.

b) 🌶️ Add parentheses to the following expression so that it evaluates to 0






8 - 3 * 2 - 1 + 1






# Check your answer (Run this code cell to receive credit!)
q3.b.solution()





## 4. Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves. For the sake of their friendship, any candies left over will be smashed. For example, if they collectively bring home 91 candies, they'll take 30 each and smash 1.
Write an arithmetic expression below to calculate how many candies they must smash for a given haul.






# Variables representing the number of candies collected by alice, bob, and carol
alice_candies = 121
bob_candies = 77
carol_candies = 109
​
# Your code goes here! Replace the right-hand side of this assignment with an expression
# involving alice_candies, bob_candies, and carol_candies
to_smash = -1
​
# Check your answer
q4.check()





#q4.hint()
#q4.solution()





Keep Going
Next up, you'll learn to write new functions and understand functions others write. This will make you at least 10 times more productive as a Python programmer.