<a href="https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/functionalpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# メモ
関数型Python という考え方
1. reduce, map, filter を使う。  
1. iterator, generator を使う。  
https://docs.python.org/ja/3/howto/functional.html

# 新しいセクション

# reduce

In [ ]:
# reduce は functools にある
from functools import reduce
array = [20, 1, 2, 3, 4, 5]

print(reduce(lambda x, y: x+y, array))

from operator import add
from operator import sub
from operator import mul

print(reduce(add, array)) # 35
print(reduce(sub, array)) # 5
print(reduce(mul, array)) # 2400

35
35
5
2400

In [ ]:
from functools import reduce
numbers = [-8, 5, -1, 4, -9, 2]
print(reduce(lambda x, y: x +y, numbers)) # -7

-7

In [ ]:
# map とかは built-in 関数
numbers = [-8, 5, -1, 4, -9, 2]

print(list(map(abs, numbers))) #[8, 5, 1, 4, 9, 2]

[8, 5, 1, 4, 9, 2]

In [ ]:
# map の結果は map object
numbers = [-8, 5, -1, 4, -9, 2]

print(map(abs, numbers)) #[8, 5, 1, 4, 9, 2]

<map object at 0x7f76d47a62b0>

In [ ]:
# filter
numbers = [-8, 5, -1, 4, -9, 2]

print(list(filter(lambda x: abs(x) > 3, numbers))) #[-8, 5, 4, -9]

[-8, 5, 4, -9]

In [ ]:
# 実験 ndarrayにreduceが使えるか
from functools import reduce
import numpy as np
print(reduce(lambda x,y: x+y, np.arange(10)))

45

In [ ]:
# np.arange は ndarray で range は range クラス
# ndarray を使う
import numpy as np
print(type(np.arange(10)))
print(type(range(10)))

<class 'numpy.ndarray'>
<class 'range'>

In [ ]:
# ndarray について
import numpy as np
a = np.array([1,2,3])
a02 = np.arange(1,4)
print(type(a))
print(a == a02)
b = np.array([[1,2,3], [4,5,6]])
print(a)
print(b)
print(a.T)
print(b.T)
print(a.data)
print(a.dtype)

<class 'numpy.ndarray'>
[ True  True  True]
[1 2 3]
[[1 2 3]
 [4 5 6]]
[1 2 3]
[[1 4]
 [2 5]
 [3 6]]
<memory at 0x7f1bb69bef48>
int64

# flatten

In [ ]:
# flatten
import numpy as np
b = np.array([[1,2,3], [4,5,6]])
print(b.flatten())
print(b.flat[3])

from functools import reduce
print(reduce(lambda a, b: a + b, [[1,2,3],[4,5,6],[7,8,9]]))
print(reduce(lambda a, b: a + b, np.array([[1,2,3], [4,5,6]]))) # flatten にならない
print(reduce(lambda a, b: a + b, np.array([[1,2,3],[4,5,6],[7,8,9]]))) # flatten にならない

[1 2 3 4 5 6]
4
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[5 7 9]
[12 15 18]

In [ ]:
# flatten
import numpy as np

print(np.concatenate([np.array([[1,2,3], [4,5,6]])[0],  np.array([[1,2,3], [4,5,6]])[1]] ))
print(reduce(lambda a, b: np.concatenate([a,b]), np.array([[1,2,3], [4,5,6]])))
print(reduce(lambda a, b: np.concatenate([a,b]), np.array([[1,2,3], [4,5,6],[7,8,9]])))

[1 2 3 4 5 6]
[1 2 3 4 5 6]
[1 2 3 4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [ ]:
# real, imag
c = np.array([1.-2.6j, 2.1+3.J, 4.-3.2j])
print(c.real)
print(c.imag)

[1.  2.1 4. ]
[-2.6  3.  -3.2]

# iterator

In [ ]:
it = iter([1,2,3])
print(it)
print(it.__next__())
print(next(it))
# print(it.next()) これはエラーになる
print(next(it))
# print(next(it)) StopIteration エラー

In [ ]:
# 次のようなのを for loop を使わずに実現したい check_later
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
for key in m:
    print("{0} {1}, ".format(key, m[key]), end='')

Jan 1, Feb 2, Mar 3, Apr 4, May 5, Jun 6, Jul 7, Aug 8, Sep 9, Oct 10, Nov 11, Dec 12,

In [ ]:
# やりかけ
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
print(list(zip(m.keys(), m.values())))
print(m.items())
print([item[0]+' '+str(item[1])  for item in m.items()])

[('Jan', 1), ('Feb', 2), ('Mar', 3), ('Apr', 4), ('May', 5), ('Jun', 6), ('Jul', 7), ('Aug', 8), ('Sep', 9), ('Oct', 10), ('Nov', 11), ('Dec', 12)]
dict_items([('Jan', 1), ('Feb', 2), ('Mar', 3), ('Apr', 4), ('May', 5), ('Jun', 6), ('Jul', 7), ('Aug', 8), ('Sep', 9), ('Oct', 10), ('Nov', 11), ('Dec', 12)])
['Jan 1', 'Feb 2', 'Mar 3', 'Apr 4', 'May 5', 'Jun 6', 'Jul 7', 'Aug 8', 'Sep 9', 'Oct 10', 'Nov 11', 'Dec 12']

# genertor と list comprehension

In [ ]:
line_list = ['  line 1\n', 'line 2  \n']

# Generator expression -- returns iterator
stripped_iter = (line.strip() for line in line_list)
print(stripped_iter)
# List comprehension -- returns list
stripped_list = [line.strip() for line in line_list]
print(stripped_list)

<generator object <genexpr> at 0x7f655cb0a0a0>
['line 1', 'line 2']

In [ ]:
# 上記を map を使って実装する
# map は for loop を使わないので、内包表記よりよいと思う

line_list = ['  line 1\n', 'line 2  \n']

print(list(map(lambda line: line.strip(),  line_list)))

['line 1', 'line 2']

In [ ]:
def generate_ints(N):
   for i in range(N):
       yield i

gen = generate_ints(3)
print(gen)
print(next(gen))
print(next(gen))
print(next(gen))
# print(next(gen)) # StopIteration

<generator object generate_ints at 0x7f6554ceea40>
0
1
2

In [ ]:
# A recursive generator that generates Tree leaves in in-order.
def inorder(t):
    if t:
        for x in inorder(t.left):
            yield x

        yield t.label

        for x in inorder(t.right):
            yield x

In [ ]:
# val = (yield i)

def counter(maximum):
    i = 0
    while i < maximum:
        val = (yield i)
        # If value provided, change counter
        if val is not None:
            i = val
        else:
            i += 1

it = counter(10)  
print(next(it))
print(next(it))
print(it.send(8))
print(next(it))
# print(next(it))

0
1
8
9

In [ ]:
def upper(s):
    return s.upper()

print(list(map(upper, ['sentence', 'fragment'])))
print([upper(s) for s in ['sentence', 'fragment']])

# 関数定義は要らないのではないか
# map では lambda を使う。
# 内包表記ではメソッドのまま使える
print(list(map(lambda x: x.upper(),  ['sentence', 'fragment'])))
print([s.upper() for s in ['sentence', 'fragment']])

['SENTENCE', 'FRAGMENT']
['SENTENCE', 'FRAGMENT']
['SENTENCE', 'FRAGMENT']
['SENTENCE', 'FRAGMENT']

In [ ]:
print (list(map (lambda x : x.upper(),  ['sentence', 'fragment'])))

['SENTENCE', 'FRAGMENT']

# filter

In [ ]:
# filter
def is_even(x):
    return (x % 2) == 0

print(list(filter(is_even, range(10))))

print(list(filter(lambda x: (x % 2) == 0, range(10))))

print(list(x for x in range(10) if is_even(x)))

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

# enumerate

In [ ]:
# enumerate
for item in enumerate(['subject', 'verb', 'object']):
    print(item)

print(list(enumerate(['subject', 'verb', 'object'])))
print(list(map(lambda x: (x[0], x[1]), enumerate(['subject', 'verb', 'object']))))

(0, 'subject')
(1, 'verb')
(2, 'object')
[(0, 'subject'), (1, 'verb'), (2, 'object')]
[(0, 'subject'), (1, 'verb'), (2, 'object')]

In [ ]:
# enumerate の使い方
# f = open('data.txt', 'r')
f = ['This is an apple.', '', 'That is a pen.','', 'END']
for i, line in enumerate(f):
    if line.strip() == '':
        print('Blank line at line #%i' % i)


print(list(map(lambda x: "Blank line at line #"+ str(x[0]), (filter(lambda x: x[1] == '', enumerate(f))))))

Blank line at line #1
Blank line at line #3
['Blank line at line #1', 'Blank line at line #3']

# sorted

In [ ]:
import random
# Generate 8 random numbers between [0, 10000)
rand_list = random.sample(range(10000), 8)
print(rand_list)
print(sorted(rand_list))
print(sorted(rand_list, reverse=True))

[8472, 1787, 5965, 2983, 4798, 9739, 6306, 7455]
[1787, 2983, 4798, 5965, 6306, 7455, 8472, 9739]
[9739, 8472, 7455, 6306, 5965, 4798, 2983, 1787]

In [ ]:
print(any([0, 1, 0]))
print(any([0, 0, 0]))
print(any([1, 1, 1]))
print(all([0, 1, 0]))
print(all([0, 0, 0]))
print(all([1, 1, 1]))

True
False
True
False
False
True

In [ ]:
list(zip(['a', 'b', 'c'], (1, 2, 3)))

[('a', 1), ('b', 2), ('c', 3)]

# itertools

In [ ]:
import itertools

print(list(itertools.islice(itertools.count(), 10)))
print(list(itertools.islice(itertools.count(10), 10)))
print(list(itertools.islice(itertools.count(10, 5), 10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 15, 20, 25, 30, 35, 40, 45, 50, 55]

In [ ]:
import itertools
print(list(itertools.islice(itertools.cycle([1, 2, 3]), 10)))

print(list(itertools.repeat('abc', 5)))

print(list(itertools.repeat([1,2,3,], 5)))

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1]
['abc', 'abc', 'abc', 'abc', 'abc']
[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [ ]:
import itertools
print(list(itertools.islice(range(10), 8)))
print(list(itertools.islice(range(10), 2, 8)))
print(list(itertools.islice(range(10), 2, 8, 2)))

[0, 1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[2, 4, 6]

In [ ]:
itertools.tee( itertools.count() )

(<itertools._tee at 0x7f4978fdfa08>, <itertools._tee at 0x7f4978fdf8c8>)

In [ ]:
import os
list(itertools.starmap(os.path.join,
                  [('/bin', 'python'), ('/usr', 'bin', 'java'),
                   ('/usr', 'bin', 'perl'), ('/usr', 'bin', 'ruby')]))

['/bin/python', '/usr/bin/java', '/usr/bin/perl', '/usr/bin/ruby']

In [ ]:
print(list(itertools.islice(itertools.filterfalse(lambda x: x%2 != 0, itertools.count()),10)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
print(list(itertools.takewhile(lambda x: x < 10, itertools.count())))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(itertools.takewhile(lambda x: x%2==0, itertools.count())))

[0]

In [ ]:
print(list(itertools.islice(itertools.dropwhile(lambda x: x < 10, itertools.count()),10)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
print(list(itertools.islice(itertools.dropwhile(lambda x: x%2==0, itertools.count()), 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(itertools.compress([1, 2, 3, 4, 5], [True, True, False, False, True]))

[1, 2, 5]

In [ ]:
print(list(itertools.combinations([1, 2, 3, 4, 5], 2)))
print(list(itertools.combinations([1, 2, 3, 4, 5], 3)))

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5)]
[(1, 2, 3), (1, 2, 4), (1, 2, 5), (1, 3, 4), (1, 3, 5), (1, 4, 5), (2, 3, 4), (2, 3, 5), (2, 4, 5), (3, 4, 5)]

In [45]:
print(list(itertools.permutations('aba', 3)))

[('a', 'b', 'a'), ('a', 'a', 'b'), ('b', 'a', 'a'), ('b', 'a', 'a'), ('a', 'a', 'b'), ('a', 'b', 'a')]

In [46]:
print(list(itertools.combinations_with_replacement([1, 2, 3, 4, 5], 2)))

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 2), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5), (4, 4), (4, 5), (5, 5)]

In [50]:
# groupby
import itertools

city_list = [('Decatur', 'AL'), ('Huntsville', 'AL'), ('Selma', 'AL'),
             ('Anchorage', 'AK'), ('Nome', 'AK'), ('Flagstaff', 'AZ'), 
             ('Phoenix', 'AZ'), ('Tucson', 'AZ')]


def get_state(city_state):
    return city_state[1]

list(map (lambda x: (x[0], list(x[1])), itertools.groupby(city_list, get_state)))

[('AL', [('Decatur', 'AL'), ('Huntsville', 'AL'), ('Selma', 'AL')]),
 ('AK', [('Anchorage', 'AK'), ('Nome', 'AK')]),
 ('AZ', [('Flagstaff', 'AZ'), ('Phoenix', 'AZ'), ('Tucson', 'AZ')])]

# いまここ

https://docs.python.org/ja/3/howto/functional.html