<a href="https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/kaggle06string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# kaggle06string.ipynb

# メモ

1.  kaggleのPython tutorialをベスにColabのノートブックを作成している。
1.  Colabで開いて読まれることを想定。
1.  元ファイル (
https://www.kaggle.com/colinmorris/strings-and-dictionaries )

# 文字列

Pythonは文字列の扱いが得意で、この章ではPythonに組み込まれている関数とフォーマット処理について述べる。

文字列操作はしばしば科学研究の文脈で使われ、Pythonの特典のひとつと言える。

### 文字列文法

復習になるが、Pythonの文字列はシングルクォートでもダブルクォートでも作ることができて、機能的に全く同じである。

In [ ]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

文字列がアポストロフィなどシングルクォートを含んでいる場合はダブルクォートが便利だし、逆にダブルクォートを含んでいる場合はシングルクォートが便利。

In [ ]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

シングルクォートで囲んだ文字列の中にシングルクォートがあればエラーになる。

In [ ]:
# 'Pluto's a planet!'

このような場合、バックスラッシュでエスケープすることができる。

In [ ]:
'Pluto\'s a planet!'

"Pluto's a planet!"

次の表はバックスラッシュの用法についてまとめたもの。

| What you type... |	What you get |	example	| print(example) |
| --- | --- | --- | --- |
|\\'  |	'	| 'What\\'s up?'	| What's up? |
| \\"  |	"	| "That's \\"cool\\"\" |	That's "cool" |
| \\\  |	\	| "Look, a mountain: /\\"	| Look, a mountain: /\ |
| \\n  |	 | "1\n2 3" |	1  |
|  |  | | 2 3 |

表の最後の行の`\n`は、改行文字を表し、Pythonでは改行して新しい行になる。

In [ ]:
hello = "hello\nworld"
print(hello)

hello
world

さらにPythonの3重引用符は、｀Enter`による改行をうけつける。つまり、みたままの形で文字列を変数に入れることができる。すでに`docstring`で見てきているが、どこでもできる。

In [ ]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == 'hello\nworld'

hello
world

True

`printf()`関数は自動的に改行コードを最後に入れる。デフォルトの`¥n`を入れさせないためには次のようにする。

In [ ]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

### 文字列とリスト

文字列`string`は文字`character`のシーケンス`sequence`、リスト、とみなすことができて、リストについてのほとんどの関数やメソッドが使える。

In [ ]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [ ]:
# Slicing
planet[-3:]

'uto'

In [ ]:
# How long is this string?
len(planet)

5

In [ ]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

しかし!!!!

リストと文字列の最大の違いは、文字列はイミュータブル`immutable`だと言うことだ。文字列は変更できない。

In [ ]:
# planet[0] = 'B'
# planet.append doesn't work either

# TypeError: 'str' object does not support item assignment

In [ ]:
type ("")

str

### 文字列メソッド

文字列型`str`はたくさんの便利なメソッドがある。ここで紹介するのはほんの一部である。

In [ ]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [ ]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [ ]:
# Searching for the first index of a substring
claim.index('plan')

11

In [ ]:
claim.startswith(planet)

True

In [ ]:
claim.endswith('dwarf planet')

False

### 文字列をリスト、リストを文字列に変換`split()`と`join()`

`str.split()`はデフォルトはスペースで文字列を短い文字列のリストに変換する。長い文字列から単語を切り出すのに使える。

In [ ]:
split = "Pluto is a planet!"
words = claim.split()

words

['Pluto', 'is', 'a', 'planet!']

ホワイトスペース以外の切れ目で切り分けたいときもあるでしょう。

例えば :

In [ ]:
datestr = '1956-01-31'

year, month, day = datestr.split('-')

(year, month, day)

('1956', '01', '31')

`str.join()`は逆に文字列のリストをひとつの文字列にする。関数を呼び出す際にセパレーターを指定する。

In [ ]:
'/'.join([month, day, year])

'01/31/1956'

In [ ]:
# Yes, we can put unicode characters right in our string literals :)
' 👏 '.join([word.upper() for word in words])
'PLUTO 👏 IS 👏 A 👏 PLANET!'

'PLUTO 👏 IS 👏 A 👏 PLANET!'

### 文字列の整形 `.format()`

Pythonは`+`で文字列を結合できる。

In [ ]:
planet + ', we miss you.'

'Pluto, we miss you.'

文字列でないものを文字列と結合するときは、`str())`で文字列変換してから結合する。

In [ ]:
position = 9
planet = 'Pluto'
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

`str.format()`は、引数に挿入したい値を入れるので、扱いやすい。

プレースフォルダーとして`{}`を使い、引数は文字列以外も自動的に変換されるので`str{}`で文字列変換する必要がない。

In [ ]:
# use str.format()
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

`str.format()`はもっとすごいことができる。

以下はその一例。

In [ ]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
# 2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [ ]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

`str.form`だけで1冊の本が書けます。興味のある方は、pyformat.info ( https://pyformat.info/ )と公式ドキュメント ( https://docs.python.org/3/library/string.html#string-formatting )を参照のこと。

# 辞書

辞書 `dictionary` はPythonに組み込まれたデータ型で、キーと値をマップしたもの。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers

{'one': 1, 'two': 2, 'three': 3}

この例の場合、'one', 'two', 'three'がキーで、1, 2, 3 が対応する値。

値はリストや文字列のときのインデクスと似た文法でカギカッコ(`square bracket`)でアクセスできる。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['three']

3

同じ文法で別のキー、値ペアを加える。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['eleven'] = 11
numbers

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

すでにあるキーに結び付けられている値を変えるのも同じ。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'three': 3, 'two': 2}

リスト内包表記と似たやりかたで内包表記ができる。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = { planet: planet[0] for planet in planets }
planet_to_initial

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

`in` 演算子でキーの有無を知ることができる。

In [ ]:
print ('Saturn' in planet_to_initial)
print ('Betelgeuse' in planet_to_initial)

True
False

辞書で`for`ループを行うとキーについてループする。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = 1
two = 2
three = 3

すべてのキーが欲しいときは`dict.keys()`、すべての値が欲しいときは`dict.values()`を使う。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = { planet: planet[0] for planet in planets }

# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

キーと値のペアを同時に取得するには次のようにする。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = { planet: planet[0] for planet in planets }

for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

'dict.items()'という専用のメソッドもある。

In [ ]:
for pair in planet_to_initial.items() :
     print("{} begins with \"{}\"".format(pair[0], pair[1]))

Mercury begins with "M"
Venus begins with "V"
Earth begins with "E"
Mars begins with "M"
Jupiter begins with "J"
Saturn begins with "S"
Uranus begins with "U"
Neptune begins with "N"

辞書のメソッドにほかにどんなものがあるかは、`help(dict)`、もしくは公式ドキュメントを参照のこと。

# 練習問題

### 問題 0 文字列の長さ

次のプログラムの結果を予想してから実行する。

In [ ]:
a = ""
length = len(a)
print (length)

b = "it's ok"
length = len(b)
print (length)

c = 'it\'s ok'
length = len(c)
print (length)

d = """hey"""
length = len(d)
print (length)

e = '\n'
length = len(e)
print (length)

0
7
7
3
1

### 問題 1 データサイエンス

データサイエンス学者は80%の時間をデータクリーニングに使い、残りの20%はデータクリーニングへの不平を言っている、という言い回しがある。

アメリカの郵便番号をチェックするプログラムをつくる。今回は文字列がちょうど5桁であればオーケーとしよう。

`str`のメソッドを調べるには`help(str)`を使う。

In [ ]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    return len(zip_code) == 5

print (is_valid_zip("12"))
print (is_valid_zip("12345"))
print (is_valid_zip("123456"))
print (is_valid_zip(""))

False
True
False
False

### 問題 2. フィルタリング

とある研究者が数千のニュース記事を集めた。特定の単語で記事をフィルターにかけたいと考えている。そのための関数を作る。

関数は次の基準を満たすものとする。

- キーワードは単独で現れるものだけをとる。つまり"closed"だったら、"enclosed"は含まれない。
- 大文字小文字は区別しない。つまりキーワードが"closed"ならば"Closed the case."は含まれる。
- ピリオドはマッチに影響しない。"It is closed."は含まれる。他の句読点はないものとしてよい。

In [19]:
def word_search(doc_list, keyword):
    """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """
    match = [doc.lower().strip(".").split().count(keyword.lower()) for doc in doc_list]
    dictOfMatch = { i : match[i] for i in range(0, len(match))}
    return  [key for key in dictOfMatch if dictOfMatch[key] > 0]

doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
word_search(doc_list, 'casino')

[0]

## 問題 3 複数キーワード検索

次に、研究者は複数のキーワードで検索したい、と思った。

いま作った`word_search`を利用して次の関数を作ること。

In [26]:
def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    """
    dictOfMatch = { keyword : word_search(doc_list, keyword) for keyword in keywords }
    
    return dictOfMatch

doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']

multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}