<a href="https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/kaggle05loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# kaggle05loop.ipynb

# メモ

1.  kaggleのPython tutorialをベスにColabのノートブックを作成している。
1.  Colabで開いて読まれることを想定。
1.  元ファイル (https://www.kaggle.com/colinmorris/loops-and-list-comprehensions )

# ループ

ループは同じコードを繰り返し実行する方法のこと。

例を示そう。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

`for`ループでは次のようなことが行われる。

* 使われる変数がしていされる。今回の場合`planet`
* ループする値のセット。今回の場合は`planets`
* `in`という単語を使っての変数と値のセットとのリンク

`in`の右側に来るオブジェクトは繰り返しをサポートするものならなんでもよい。基本的にはなんらかのグループでループできるもの。リスト以外ではタプルも使える。

In [ ]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult

product

360

文字列の文字についてもループできる。

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

### range()

`range()`は数列をつくる関数で、ループを書くときに役に立つ。

たとえば同じ作業を5回やりたいとする:

In [ ]:
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

### while ループ

`while`ループは条件を満たしている間、繰り返す。

In [ ]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

`while`ループの引数はブール式として評価され、ループは式が`False`になるまで繰り返される。

### List 内包表記

Pythonのリスト内包表記はたいへん人気がある。。

理解するためにまず例をみよう。

In [ ]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

これをリスト内包表記でなくあらわすとしたら次のようになる。

In [ ]:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

次のは`if`を使ったリスト内包表記である。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

`SQL`の`WHERE`節に似ていると言える。

次の例ではループ変数に`if`条件文でフィルターをかけて、それを変形している。

In [ ]:
# str.upper() returns an all-caps version of a string
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

リスト内包表記の左部分はループ変数を含む必要はないが、たいていは含んでいる。

次のプログラムはリスト内包表記の左部分にループ変数を含まない例である。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

リスト内包表記と`min`、`max`、`sum`などの関数を組み合わせるとリスト内包表記を使わなければ何行にもなるプログラムを一行で書くことができる場合がある。

次の2つのコードセルは同じことをやっている。

In [5]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

count_negatives([5, -1, -2, 0, 3])

2

In [4]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])

count_negatives([5, -1, -2, 0, 3])

2

コードを短くすることだけが目的ならば次のようなのはどうか。


Well if all we care about is minimizing the length of our code, this third solution is better still!

In [ ]:
def count_negatives(nums):
    # Reminder: in the "booleans and conditionals" exercises, we learned about a quirk of 
    # Python where it calculates something like True + True + False + True to be equal to 3.
    return sum([num < 0 for num in nums])

count_negatives([5, -1, -2, 0, 3])

どの解決方法が最善か、は主観的なものだが、短いコードはそれだけで価値がある。

しかし、`The Zen of Python`のつぎのくだりを心に留めておくことも大切だ。

```
読みやすさは大切だ。
明示的であることは暗黙的了解よりよいことだ。
```

リスト内包表記のようなツールを使ってプログラムを短く読みやすくしよう。多くの場合、短いプログラムは理解もしやすい。

# 練習問題

# いまここ

### 問題 1

デバッグは運任せと感じたことがあるだろうか?

次のプログラムを完成させよう。

In [11]:
# Try to identify the bug and fix it in the cell below:
# def has_lucky_number:
#     """Return whether the given list of numbers is lucky. A lucky list contains
#     at least one number divisible by 7.
#     """
#     for num in nums:
#         if num % 7 == 0:
#             return True
#         else:
#             return False

def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    answer = False
    for num in nums:
        if num % 7 == 0:
            answer = True
            break
    return answer

print (has_lucky_number([1, 2, 3]))
print (has_lucky_number([1, 2, 3, 7]))

False
True


### 問題 2

次のプログラムはコメントを外して実行するとエラーになる。

In [ ]:
# [1, 2, 3, 4] > 2

書き直してみよう。

In [15]:
def greater_than_two (nums) :
    answer = []
    for num in nums :
        if num > 2 :
            answer.append(num)
    return answer

print (greater_than_two([1, 2, 3, 4]))

[3, 4]

# いまここ


### b
R and Python have some libraries (like numpy and pandas) compare each element of the list to 2 (i.e. do an 'element-wise' comparison) and give us a list of booleans like `[False, False, True, True]`. 

Implement a function that reproduces this behaviour, returning a list of booleans corresponding to whether the corresponding element is greater than n.

In [ ]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    pass


### 問題 3

Complete the body of the function below according to its docstring.


```
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    pass
```


### 問題 4

Next to the Blackjack table, the Python Challenge Casino has a slot machine. You can get a result from the slot machine by calling `play_slot_machine()`. The number it returns is your winnings in dollars. Usually it returns 0.  But sometimes you'll get lucky and get a big payday. Try running it below:


```
play_slot_machine()
```


By the way, did we mention that each play costs $1? Don't worry, we'll send you the bill later.

On average, how much money can you expect to gain (or lose) every time you play the machine?  The casino keeps it a secret, but you can estimate the average value of each pull using a technique called the **Monte Carlo method**. To estimate the average outcome, we simulate the scenario many times, and return the average result.

Complete the following function to calculate the average value per play of the slot machine.


```
def estimate_average_slot_payout(n_runs):
    """Run the slot machine n_runs times and return the average net profit per run.
    Example calls (note that return value is nondeterministic!):
    >>> estimate_average_slot_payout(1)
    -1
    >>> estimate_average_slot_payout(1)
    0.5
    """
    pass
```


When you think you know the expected value per spin, run the code cell below tto view the solution and get credit for answering the question.