<a href="https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/learnpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

メモ 

python を学ぶ。

アイデアは、サクサクっと python を学ぶための colab ノートブックを作る。

とりあえず kaggle と chainer と functional とかを材料に書き始めてみる。 数学と違って、定義や証明ではなく、問題-解答ペアで進む予定。

# 最初の例

In [ ]:
# 最初の例
x = 0
print(x)

x = x + 4

if x > 0:
    print("x is larger than 0")

text = "hello " * x
print(text)

0
x is larger than 0
hello hello hello hello

上の例からわかること
* 変数は突然使える。 型を指定しないでよい。
* 変数は変えられる。
* if が使える。 コロンが必要。インデントが必要。
* 文字列に数字を掛けることができる。
* コメントは `#` で始まる。

実験してみてわかること
* 文字列に例えば 4.5 とかかけようとするとエラーになる。
* 4.5 とかは float らしい。 4 は int か。

補足
* `=`は代入演算子と呼ばれる
* 変数を宣言する必要はない。
* 変数に代入される値のタイプをあとから変えられる。数値を代入したあとに文字列やブール型の値を代入するができる。

In [ ]:
x = 4
print(type(x))
x = 0.0
print(type(x))
x = True
print(type(x))
x = "this is x."
print(type(x))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

メモ 
* 型の名前: int, float, bool, str とか。
* print は改行が自動で入る。
* bool は True, False で小文字にするとエラーになる。
* True, False 以外はなにが True になりなにが False になるのか。 => 課題 真偽の値。

関数は関数名のあとにカッコをつけることによって、関数を呼び出す。 カッコの中には引数 ひきすう を入れる。

`type`も  python のビルトイン関数、組み込み関数、built-in 関数。

メモ
* python の組み込み関数はオブジェクトのメソッドとしての関数ではないので、使い方が決まっている。 [1,2,3].len() ではなくて、len([1,2,3])。

言葉
* 再代入 `reassignment` 
* 演算子オーバーロード 文字列 * 整数 => 繰返し、のように演算子の意味を変えて使うこと。

* `int` は integer (整数) の省略形。
* `float` は浮動小数点型。

| Operator	| Name	| Description |
| ---- | ---- | ----|
|a + b  | Addition	     |   Sum of a and b |
|a - b	| Subtraction	   |   Difference of a and b |
|a * b	| Multiplication |	 Product of a and b |
|a / b	| True division	 |   Quotient of a and b |
|a // b	| Floor division |	 Quotient of a and b, removing fractional parts |
|a % b	| Modulus	       |   Integer remainder after division of a by b |
|a ** b	| Exponentiation |	 a raised to the power of b |
|-a	    | Negation	     |   The negative of a |

割り算の演算子が2種類あることに注意。

電卓の割り算は "True division" 。

演算子 `/` の結果は常に `float` 。

演算子 `//` は割り算の結果以下の最大の整数を返す。

切り下げ flooor、 切り上げ ceiling は次のようにする。

In [ ]:
print (5 // 2)
print (-(-5 // 2))

2
3

# 演算の優先順位
小学校で習う算数で、計算には順序があることを習う。PEMDAS というニーモニックを覚えている人もいるだろう。
* Parentheses カッコ
* Exponents 冪乗
* Multiplication/Division 乗算/除算
* Addtion/Subtraction 加算/減算

python  においても同じルールが適用される。

# 数字に関する組み込み関数
`min` と `max` は引数の最小値と最大値を返す。

In [ ]:
print(min(1, 2, 3)) 
print(max(1, 2, 3))

1
3

`abs` は引数の絶対値を返す。

In [ ]:
print(abs(32)) 
print(abs(-32))

32
32

`float` と `int` は数字の型の名前であるだけでなく引数の型を変換する関数として呼び出すことができる。

In [ ]:
print(float(10)) 
print(int(3.33))
print (int (-3.33))
print(-3.33 // 1)
print(-(-3.33 // 1))

10.0
3
-3
-4.0
4.0

文字列を数字に直すこともできる。

In [ ]:
# 文字列を数字に直すこともできる
print(int('807') + 1)
10.0
print(float('33.3') + 0.2 )

808
33.5

---
質問

文字列で与えられた 2 進数や 16 進数を int に変換できるか。

逆に int を 2 進数や 16 進数に変換できるか。

基数変換と言う。

いまはわからないので、わかったら追記する。

---
# 四則演算

| 演算子	| 名前	| 説明 |
| ---- | ---- | ----|
|a + b  | 加算	     |   a と b の合計 |
|a - b	| 減算	   |   a と b の差分 |
|a * b	| 乗法 |	 a と b の積 |
|a / b	| 除算	 |   a と b の商 |
|a // b	| 床除算 |	 a と b の商から少数部分を除いたもの floor |
|a % b	| 余り       |   整数割り算の余り modulo|
|a ** b	| 冪乗 |	 a の b 乗 power |
|-a	    | マイナス	     |   マイナスa |

In [ ]:
# 円の面積を計算する
pi = 3.14159 # 少数5桁までの円周率π
diameter = 3 # 直径

# 直径の半分の長さの半径(radius)という名前の変数を作る
radius = diameter / 2

# 公式 円の面積 = 円周率かける半径の二乗 を使って円の面積を(area)計算する
area = pi * radius ** 2
print ("円の面積: " , area)

円の面積:  7.0685775

---
問題 $\quad$ 変数 a と b の中身を入れ替える。

In [ ]:
# 変数 a と b の中身を入れ替える。
a = [1, 2, 3]
b = [3, 2, 1]
print(a, b)
temp = a; a = b; b = temp
print(a, b)

[1, 2, 3] [3, 2, 1]
[3, 2, 1] [1, 2, 3]

python では a,b = b,a ができる。

In [ ]:
# 別解
a = [1, 2, 3]
b = [3, 2, 1]
print(a, b)
a, b = b, a
print(a, b)

[1, 2, 3] [3, 2, 1]
[3, 2, 1] [1, 2, 3]

# 関数
* help(関数名)
* dir(クラス/オブジェクト)
* 関数名?
* 関数名??

とか。便利。

例 $\quad$ `help(round)`

`help(round)` の出力を読んでから、次のコードを実行してみる。

* round(-2.01)
* round(3.12345455, -2)
* round(1234567, 3)
* round(1234567, -3)

他の関数についてもhelp()を実行してみる。

* help(abs)

In [ ]:
# 実験
print(round(3.14))
print(type(round(3.14)))
print(round(3.14,0))
print(type(round(3.14,0)))
print (round(1234567, -3))
print(type (round(1234567, -3)))
print(round(1234567.3, -3))
print(type (round(1234567.3, -3)))

3
<class 'int'>
3.1
<class 'float'>
1235000
<class 'int'>
1235000.0
<class 'float'>

`round()` は単純で説明の短い関数だった。

`print()`の場合 `help(print)`の結果も長くなる。

# 関数を定義する

In [ ]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers among a, b and c.
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

least_difference(10, 3, 5)

2

* ここでは least_difference() という関数が作られている。
* 3 つの引数 a, b, c を取る。
*  関数の定義は `def` というキーワードで始まる。`:` のあとのインデントブロックが関数定義の本体。
* キーワード `return` で関数を抜け、`return` のあとにある値が返り値となる。

In [ ]:
print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7), #  python は引数の最後にカンマがついていても大丈夫。
)

9 0 1

In [ ]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers among a, b and c.
    >>> least_difference(1, 5, -5)
    4

# ドックストリング
ドックストリング `docstring` は関数を定義する時にヘッダーの直後に書かれる 3 クォートで囲まれた数行にわたる部分のこと。 help()でこのdocstringが出力される。

numpyの関数 np.eye の docstring が参考になる。

In [ ]:
# import numpy as np
# help (np.eye)

---
返り値のない関数

キーワード `return` を含まない関数の返り値は `None` になる。

In [ ]:
print(type(None))

<class 'NoneType'>

In [ ]:
mystery = print()
print(mystery)

None

---
引数のデフォルト値

関数 `print` のオプションとしていくつかの引数をがある。
たとえば出力の項目の間に入れる文字列を指定するには `sep` という変数に値を入る。

In [ ]:
print(1, 2, 3, sep=' < ')

1 < 2 < 3

しかし、値を指定しない場合、`sep`にはデフォルトの値であるスペース 1 個が入る。

In [ ]:
print(1, 2, 3)

1 2 3

関数の定義の時にデフォルト値を指定するには、次のようにする。

In [ ]:
def greet(who="Colin"):
    print("Hello,", who)
    
greet()
greet(who="Kaggle")

# 明確で誤解が生じる余地のない場合、引数の名前を省略できる。
greet("world")

Hello, Colin
Hello, Kaggle
Hello, world

---
関数から関数を呼び出す

関数から関数を呼び出す、というと関数型プログラムの Haskell や Scheme のようだが、それほど抽象的なことはできないが、つぎのようなやり方で関数を呼び出すことができる。

In [ ]:
def mult_by_five(x):
    """x is multiplied by five"""
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

def cubed_call(fn, arg):
    """Call fn on the result of fn calling fn on arg"""
    return fn(fn(fn(arg)))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1), 
    cubed_call(mult_by_five,1),
    sep='\n', # '\n' is the newline character - it starts a new line
)

5
25
125

関数に作用する関数は高階関数 "Higher order functions" と呼ばれる。

python の `max` は複数の引数の中で最大のものを返すが、オプションとして `key` に関数を指定すると `key(x)` が最大なxを返す。

In [ ]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

---
問題 `docstring` に基づいて関数を完成させる。

ヒント: `round` は python の組み込み関数。

In [ ]:
def round_to_three_places(num):
    """小数点 3 桁までを求める。4 桁目を四捨五入
    >>> round_to_three_places(3.14159)
    3.141
    """
    return round(num, 3)

round_to_three_places(3.14159)

3.141

---
問題  `round` の `ndigits`

`help()` によると `round` の 2 番目の引数 `ndigits` は負の数でもかまわない。

次のコードセルで実験してみる。

In [ ]:
round(12345678, -6)

12000000

---
エラーメッセージを読む

エラーメッセージを読むことは、 python の勉強になる。

バギーなコードを、コメントアウト、アンコメントし、実行することを繰り返しながらコードを完成させる。

ちなみに、`ctrl`+`/` で選択した行を交互にコメントアウト、アンコメントできる。

---
問題 $\quad$絶対値の小さい方を返す関数を作る

In [ ]:
# 絶対値の小さい方を返す
def smallest_abs(x,y):
    """絶対値の小さい方を返す
    >>> smallest_abs(-10, 5)
    5
    """
    return min(abs(x), abs(y))

smallest_abs(-10, 5)

5

# ブール型
ブール型の値は True と False だけ。

In [ ]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

---
比較演算

| 演算	| 説明	|	|演算	|説明|
|---|---|---|---|---|
| a == b	| a は b に等しい            |	| a != b	| a は b に等しくない |
| a < b	  | a 小なり b	            | 	| a > b	  | a 大なり b |
| a <= b	| a 小なりイコール b	|	| a >= b	| a 大なりイコール b |

In [ ]:
# 実験
print(True)
if 1 :
    print ("1 is True")
if None :
    print ("None is True")
else: print ("None is False")
print(None)
if -1 :
    print ("-1 is True")
else: print ("-1 is False")
if 0 :
    print ("0 is True")
else: print ("0 is False")
print([])
if [] :
    print ("[] is True")
else: print ("[] is False")
if [1] :
    print ("[1] is True")
else: print ("[1] is False")
if "" :
    print ("\"\" is True")
else: print ("\"\" is False")

True
1 is True
None is False
None
-1 is True
0 is False
[]
[] is False
[1] is True
"" is False

python で False なのは

In [ ]:
# python で False 以外は True
print(bool(False))
print(bool(None))
print(bool())
print(bool(EOFError)) # エラーは True
print(bool(0)) # 0 以外の数値は True だが
print(bool(0.0))
print(bool(0j))
print(bool(0+0j))
print(bool("")) # カラの str
print(bool(())) # カラのタプル
print(bool([])) # カラのリスト
print(bool({})) # カラの dict
print(int(True))
print(int(False))

False
False
False
True
False
False
False
False
False
False
False
False
1
0

In [ ]:
name = ""
if name:
    print("名前は" + name + "です")
else:
    print("名前は未登録です")

名前は未登録です

---
問題 $\quad$ 引数に年齢を入れて呼び出すと、アメリカの大統領に立候補できる年齢かどうかを判定する

In [ ]:
# 引数に年齢を入れて呼び出すと、アメリカの大統領に立候補できる年齢かどうかを判定する
def can_run_for_president(age):
    """引数に年齢を入れて呼び出すと、アメリカの大統領に立候補できる年齢かどうかを判定する"""
    # The US Constitution says you must be at least 35 years old
    return age >= 35

print("Can a 19-year-old run for president?", can_run_for_president(19))
print("Can a 45-year-old run for president?", can_run_for_president(45))

Can a 19-year-old run for president? False
Can a 45-year-old run for president? True

---
ブール値の組み合わせ

`and`、`or`、`not`でブール値を組み合わせることができる。

In [ ]:
# 引数に年齢とアメリカ生まれかどうかを入れて呼び出すと、
# アメリカの大統領に立候補することが法律上できるかどうかを判定してTrueまたはFalseを返す

def can_run_for_president(age, is_natural_born_citizen):
    """Can someone of the given age and citizenship status run for president in the US?"""
    # The US Constitution says you must be a natural born citizen *and* at least 35 years old
    return is_natural_born_citizen and (age >= 35)

print(can_run_for_president(19, True))
print(can_run_for_president(55, False))
print(can_run_for_president(55, True))

False
False
True

---
ブール演算の優先順位

`and`は`or`より先に評価される。

なるべくカッコを使ってわかりやすくする。

In [ ]:
print(True or True and False)
print(True or (True and False))
print((True or True) and False)

True
True
False

In [ ]:
# True は False より大きい
if True > False:
    print ("True is larger than False")

True is larger than False

---
条件文

ブール型は `if`、`elif`、`else` キーワードの条件文と組み合わせて使う。

条件文は `if` 文とも言われる。

In [ ]:
# 引数がゼロか、正か、負かを判定して文字列を返す
# 関数の中で print を使わない
def inspect(x):
    if x == 0:
        return "{} is zero".format(x)
    elif x > 0:
        return "{} is positive".format(x)
    elif x < 0:
        return "{} is negative".format(x)
    else:
        return "{} is unlike anything I've ever seen...".format(x)

print(inspect(0))
print(inspect(-15))

0 is zero
-15 is negative

---
質問

* なぜ else if でなく elif なのか。
* if は後置で使えるか。
* if, elif, else を改行なしで書けるか。

---
問題

数値の引数を取り、負の場合は-1、正の場合は1、0の場合は0を返す、signと呼ばれる関数を定義する。多くのプログラミング言語にはあって、 python の組み込み関数にはないもの。

In [ ]:
import numpy as np
np.sign(-1)

-1

In [ ]:
from sympy import sign
sign(-1)

In [ ]:
# 数値の引数を取り、負の場合は-1、正の場合は1、0の場合は0を返す
def sign (x) :
    if x < 0 :
        return -1
    elif x > 0 :
        return 1
    else :
        return 0

print (sign(-1))
print (sign(1))
print (sign(0))

-1
1
0

---
問題 $\quad$ 引数を args を set で受ける

* hotdog (ketchup, mustard, onion) => "wants all toppings with ketchup and mustard and onion"
* hotdog () => "wants plain hotdog without toppings"
* hotdog (ketchup) => "wants hotdog with once sauce ketchup"
* hotdog (ketchup, onion) => "wants two sauce ketchup and onion"

In [ ]:
def hotdog (*args):
    args = set(args)
    if args == set():
        return "wants plain hotdog without toppings"
    elif args == {"ketchup"}:
        return "wants hotdog with once sauce ketchup"
    elif args == {"mustard"}:
        return "wants hotdog with once sauce mustard"
    elif args == {"onion"}:
        return "wants hotdog with once sauce onion"
    elif args ==  {"ketchup", "mustard"}:
        return "wants two sauce ketchup and mustard"
    elif args ==  {"ketchup", "onion"}:
        return "wants two sauce ketchup and onion"
    elif args ==  {"mustard", "onion"}:
        return "wants two sauce mustard and onion"
    elif args ==  {"ketchup", "mustard", "onion"}:
        return "wants all toppings with ketchup and mustard and onion"

print(hotdog("onion", "mustard"))
print(hotdog())
print(hotdog("onion", "mustard", "ketchup"))
print(hotdog("onion"))

wants two sauce mustard and onion
wants plain hotdog without toppings
wants all toppings with ketchup and mustard and onion
wants hotdog with once sauce onion

---
問題 

`int()` の引数にブール型を入れて、合計をとることにより、1 つだけ選ばれたことを判定することができる。

In [ ]:
def exactly_one_topping(ketchup, mustard, onion):
    return (int(ketchup) + int(mustard) + int(onion)) == 1

ketchup = True
mustard = True
onion = True

print (exactly_one_topping(ketchup, mustard, onion))

False

# リスト

In [ ]:
# リストの例
primes = [2, 3, 5, 7]
print(primes)

[2, 3, 5, 7]

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

リストのリストが作れる。

In [ ]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # 最後の要素のあとにカンマがあってもかまわない
]

print(hands)

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

python のリストは型の混在が可能。

In [ ]:
my_favourite_things = [32, 'raindrops on roses', help]
print(my_favourite_things)

[32, 'raindrops on roses', Type help() for interactive help, or help(object) for help about object.]

---
インデクス

リストの要素には角括弧 `square brackets` でアクセスできる。

太陽に一番近い惑星はどこか?  python のインデクスは0スタートなので、最初の要素はインデクス0となる。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[0]

'Mercury'

冥王星 Pluto がないのは惑星ではなくなったから。

太陽から一番遠い惑星はどこか?

リストの最後の要素はマイナスの数でアクセスできる。

In [ ]:
print(planets[-1])
print(planets[-2])

Neptune
Uranus

---
スライス、スライシング、切り取り、コロン

太陽から近い順に3つの惑星をリストにする。このようなときにスライシングが使える。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[0:3]

['Mercury', 'Venus', 'Earth']

`planets[0:3]` の意味はインデクス 0 から 3 までで、3 を含まない、ということ。

スタートとエンドの要素は省略可能。最初のインデクスを省略すると、0とみなされるので、前の例は次のように書ける。

In [ ]:
planets[:3]

['Mercury', 'Venus', 'Earth']

エンドのインデクスを省略すると、リストの長さを指定したことになる。

In [ ]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

`planets[3:]`の意味はインデクス3から最後まで、という意味になる。

スライシングにマイナスのインデクスを使うこともできる。

In [ ]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [ ]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

---
リストの更新

リストは可変 `mutable` である。コピーを作らずその場でそのものを更新できる。

インデクスやスライスで値を入れることでリストを更新できる。

例えば火星 `Mars` の名前を変えたいとしよう。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[3] = 'Malacandra'
print(planets)

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

最初の3つの惑星の名前を短くしてみよう。

In [ ]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# 元に戻す
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

---
リスト関数

リストを扱う便利な関数がいろいろある。

`len` はリストの長さを返す。

In [ ]:
# How many planets are there?
len(planets)

8

`sorted` はリストのソートしたものを返す。

In [ ]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

`sum` は数値の合計を返す。

In [ ]:
primes = [2, 3, 5, 7]
sum(primes)

`min` と `max` はリストを引数として渡すこともできる。

In [ ]:
max(primes)

7

In [ ]:
min(planets)

'Earth'

---
オブジェクトとドットシンタクス

オブジェクトはなんらかの性質をもっている物であり、その性質にアクセするためにドットシンタクスがある。

例えば、 python の数値は `imag` と呼ばれる虚数部分を表す変数を持っていて、次のようにアクセスする。

In [ ]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)

0

In [ ]:
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

3.0

オブジェクトは関数を持っていていて、オブジェクトに付属する関数のことはメソッドと呼ばれる。

`imag`のようなオブジェクトの性質は属性 `attributes` と呼ぶ。

例えば、整数は`bit_length`というメソッドを持っていて、次のように使う。

In [ ]:
x = -3
x.bit_length()

2

普通の関数の `help()` は 'help(max)` のように使うが、メソッドについての `help()` は次のようにオブジェクトのドットシンタクスとして呼び出す。 属性も同じ。 オブジェクトがないとエラーになる。

In [ ]:
x = 12
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

`list.append` は要素をリストの最後に付け加える

In [ ]:
# Pluto is a planet darn it!
planets.append('Pluto')
print(planets)
print(planets.append("Nothing")) # append に返り値はない

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto', 'Pluto']
None

メソッド `append` はリスト型のメソッドなので、`help()` で呼び出す際にもなんらかのリストをつける必要がある。

`help(append)`とするとエラーになる。そこが組み込み関数の `max` などと違うところで、`max` の場合 `help(max)` で呼び出せる。

`help([].append)` のドキュメントにある、`-> None` の部分が `list.append` が返り値がないことを表している。

---
`list.pop` はリストの最後の要素を削除する。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)
planets.pop()
print(planets)
planets.append('Neptune')
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

質問 $\quad$ ということは、push, pop ペアではなくて、append, pop ペアなのか。これでスタック操作ができるかも。

---
リストの検索

`planets`の中で`Earth`は何番目にあるか?

list.indexメソッドを使う。

In [ ]:
planets.index('Earth')

2

`planets`の中で`Earth`は3番目にあることがわかる。インデクスは 0 スタートなので、2 が 3 番目という意味になる。

存在しない要素を検索するとエラーになる。

'Pluto' is not in list

In [ ]:
# 次のコードはエラーになる
# planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
# planets.index('Pluto')

エラーにしないために事前に調べる方法がある。

In [ ]:
# Is Earth a planet?
"Earth" in planets

True

---
リストについてのすべてのメソッドを知るには、`help(planets)`もしくは`help([])とすればいい。

In [ ]:
# help([])

`__eq__`とか` __iadd__ `とか変な名前のメソッドがたくさん出てくるが、とりあえず気にしないでよい。たぶ直接使うことはなく、インデクスや比較演算子の背後で使われているメソッドである．

最後の方にある、`append`、`clear`、`copy` 等を学ぶのがよい。

In [ ]:
help([].clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [ ]:
help([].copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

# タプル

タプルとリストの違いは次の2点.

1. タプルを作るときには丸括弧 `parenthesis`を使う。リストは角括弧 `square bracket`。 集合は波括弧 'brace' 。

2. タプルは可変ではない。イミュータブル `immutable` である。

In [ ]:
t = (1, 2, 3)
t

(1, 2, 3)

In [ ]:
t = 1, 2, 3 # t = (1, 2, 3) と同じ。カンマがタプルを生成する
t

(1, 2, 3)

In [ ]:
# タプルは変更できない。エラーになる
# t = (1,2,3)
# t[0] = 100

タプルは複数の返り値を持つ関数に使われる。

例えば、`float` オブジェクトのメソッドである `as_integer_ration()` は分子と分母をタプルの形で返す。

In [ ]:
x = 0.125
x.as_integer_ratio()

(1, 8)

結果を変数に入れるには次のようにする。

In [ ]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

メモ

次の例を含め、有名な ` stupid  python tricks` を考えよう。 課題。

In [ ]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [ ]:
a = 1
b = 0
tuple = a, b = b, a
print (tuple)
print (a, b)

(0, 1)
0 1

---
問題

リストを引数として、2 番目の要素を返す関数を作る。 もし 2 番目の要素がない場合は None を返す。

In [ ]:
def select_second(L):
    """Return the second element of the given list. If the list has no second element, return None."""
    if len(L) < 2 :
        return None
    else :
        return L[1]

L = [0, 1, 2, 3]
print(select_second(L))
print(select_second([]))
print(select_second([1]))
print(select_second([1,2]))

1
None
None
2

---
問題

スポーツチームの問題。それぞれのチームのリストでコーチの名前がリストの最初にあり、キャプテンが2番目、それ以降はチームのメンバー。このチームのリストがリストになっていて、最初がベストチーム、で最後がワーストチームの順に並んでいる。

ワーストチームのキャプテンを選ぶプログラムを作る。

In [ ]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    return teams[-1][1]

teams = [["bob", "mark", "john"], ["peter", "matthew", "willy"]]

print(losing_team_captain(teams))

matthew

---
問題

マリオ・カートゲームの次回作では、*Purple Shell*というアイテムが装備され、それを使うとビリのレーサーとトップのレーサーが入れ替わるというとんでもないことが起きる。

次のプログラムを完成させ、Purple Shellの効果を実装する。

In [ ]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    racers[0], racers[-1] = racers[-1], racers[0]
    return racers

r = ["Mario", "Bowser", "Luigi"]
purple_shell(r)
r

['Luigi', 'Bowser', 'Mario']

---
問題

リストの長さの確認

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

print(len(a))
print(len(b))
print(len(c))
print(len(d))

3
2
0
2

---
問題

パーティ出席者のリストがある。次の 7 人のゲストのリストで Adela が最初に到着し、Fordが 最後に来た。

In [ ]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

かっこよく遅刻`fashionably late`は、パーティのゲストの半分より後に到着し、最後ではないゲストたちを指す。今回の例では Mona と Gilbet が `fashionably late` である。

リストと名前を引数に取り、`fashionably late`かどうかを返すプログラムを作る。

In [ ]:
import math

def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    fashionable_attendees = party_attendees[math.ceil(len(party_attendees)/2):-1]
    return name in fashionable_attendees


party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

print(fashionably_late(party_attendees, "Adela"))
print(fashionably_late(party_attendees, "May" ))
print(fashionably_late(party_attendees, "Gilbert"))
print(fashionably_late(party_attendees, "Ford"))

False
False
True
False

# ここから kaggle05loop.ipynb

# ループ

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

`for` ループでは次のようなことが行われる。

* 使われる変数が指定される。今回の場合 `planet`
* ループする値のセット。今回の場合は `planets`
* `in` という単語を使っての変数と値のセットとのリンク

`for` ループで集合 `set` が使えるか。

使えた。 下記参照。

In [ ]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
print(multiplicands)
print(product)

multiplicands = set(multiplicands)
print(multiplicands)
product = 1
for mult in multiplicands:
    product = product * mult
print(product)

(2, 2, 2, 3, 3, 5)
360
{2, 3, 5}
30

文字列の文字についてもループできる。

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

---
range()

`range()`は数列をつくる関数で、ループを書くときに役に立つ。

たとえば同じ作業を5回やりたいとする:

In [ ]:
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

---
while ループ

`while` ループは条件を満たしている間、繰り返す。

In [ ]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

# リスト内包表記 list comprehension

python のリスト内包表記はたいへん人気がある。

In [ ]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

これをリスト内包表記でなくあらわすとしたら次のようになる。

In [ ]:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

次のは `if` を使ったリスト内包表記である。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

`SQL`の `WHERE` 節に似ている。

次の例ではループ変数に `if` 条件文でフィルターをかけて、それを変形している。

In [22]:
# str.upper() returns an all-caps version of a string
loud_short_planets = [planet.upper() + '!!!!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!!!!', 'EARTH!!!!', 'MARS!!!!']

リスト内包表記の左部分はループ変数を含む必要はないが、たいていは含んでいる。

次のプログラムはリスト内包表記の左部分にループ変数を含まない例である。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

リスト内包表記と `min`、`max`、`sum` などの関数を組み合わせるとリスト内包表記を使わなければ何行にもなるプログラムを一行で書くことができる場合がある。

次の2つのコードセルは同じことをやっている。

In [ ]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

count_negatives([5, -1, -2, 0, 3])

2

In [ ]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])

count_negatives([5, -1, -2, 0, 3])

2

コードを短くすることだけが目的ならば次のようなのはどうか。

In [ ]:
def count_negatives(nums):
    # Reminder: in the "booleans and conditionals" exercises, we learned about a quirk of 
    # python where it calculates something like True + True + False + True to be equal to 3.
    return sum([num < 0 for num in nums])

count_negatives([5, -1, -2, 0, 3])

どの解決方法が最善か、は主観的なものだが、短いコードはそれだけで価値がある。

しかし、`the zen of python` のつぎのくだりを心に留めておくことも大切だ。

```
読みやすさは大切だ。
明示的であることは暗黙的了解よりよいことだ。
```

リスト内包表記のようなツールを使ってプログラムを短く読みやすくしよう。多くの場合、短いプログラムは理解もしやすい。

---
問題

数のリストに、1つでも 7 で割り切れる数があった場合、 True を返すプログラムを書く。

In [ ]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    answer = False
    for num in nums:
        if num % 7 == 0:
            answer = True
            break
    return answer

print (has_lucky_number([1, 2, 3]))
print (has_lucky_number([1, 2, 3, 7]))

False
True

In [26]:
# 別解
def has_lucky_number(nums):
    if sum([num % 7 == 0 for num in nums]) > 0:
        return True
    else:
        return False
    
print (has_lucky_number([1, 2, 3]))
print (has_lucky_number([1, 2, 3, 7]))

False
True

---
問題 2

数のリストから 2 より大きい数のリストにする。

In [ ]:
def greater_than_two (nums) :
    answer = []
    for num in nums :
        if num > 2 :
            answer.append(num)
    return answer

print (greater_than_two([1, 2, 3, 4]))

[3, 4]

In [28]:
# 別解
def greater_than_two (nums) :
    return [num for num in nums if num > 2]

print (greater_than_two([1, 2, 3, 4]))

[3, 4]

# いまここ

`R`と python はnumpyとpandasというライブラリーがあり、リストと2を比べて `[False, False, True, True]`のようなブール型のリストを返す機能がある。

対応する要素が`n`より大きいかどうかをブール型の要素のリストで返す関数を作る。

In [ ]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    answer = []
    for num in L :
        answer.append(num > thresh)
    return answer


elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]


### 問題 3

食事のリストについて、同じ食事が2日続けて出されていれば`True`、そうでなければ`False`を返すプログラムを書く。

In [ ]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    answer = False
    for i in range(len(meals) - 1) :
        if meals[i] == meals[i + 1] :
            answer = True
    return answer

meals = ["curry", "cutlet", "soup", "sushi"]
print (menu_is_boring(meals))
meals = ["curry", "cutlet",  "soup", "sushi", "sushi"]
print (menu_is_boring(meals))

False
True

### 問題 4

python  カジノにはブラックジャックのテーブルの横にスロットマシンがある。

`play_slot_machine()`を実行すると、賞金がでる。普通は0ドルを返してくるが、運がよければ大金が手に入る。

試しにやってみよう。

In [ ]:
# play_slot_machine()

ところで、1回1ドルかかるって言ったっけ。気にしなくていい、あとで請求書が行くから。

1回スロットマシンでプレイするたびの期待される儲け(ロス)はいくらか。カジノはそれを秘密にするけれど、モンテカルロ法によって推測することができる。シミュレーションで回数を繰り返して平均値をとることによって期待値を計算する方法である。

次の関数を完成させる。

In [ ]:
def estimate_average_slot_payout(n_runs):
    """Run the slot machine n_runs times and return the average net profit per run.
    Example calls (note that return value is nondeterministic!):
    >>> estimate_average_slot_payout(1)
    -1
    >>> estimate_average_slot_payout(1)
    0.5
    """
    result = []
    for x in range(1, n_runs):
        result.append(play_slot_machine())
    return (sum(result) - n_runs)/n_runs

# ここから kaggle06string.ipynb

# 文字列処理

# kaggle06string.ipynb

# メモ

1.  kaggleのPython tutorialをベスにColabのノートブックを作成している。
1.  Colabで開いて読まれることを想定。
1.  元ファイル (
https://www.kaggle.com/colinmorris/strings-and-dictionaries )

# 文字列

Pythonは文字列の扱いが得意で、この章ではPythonに組み込まれている関数とフォーマット処理について述べる。

文字列操作はしばしば科学研究の文脈で使われ、Pythonの特典のひとつと言える。

### 文字列文法

復習になるが、Pythonの文字列はシングルクォートでもダブルクォートでも作ることができて、機能的に全く同じである。

In [ ]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

文字列がアポストロフィなどシングルクォートを含んでいる場合はダブルクォートが便利だし、逆にダブルクォートを含んでいる場合はシングルクォートが便利。

In [ ]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

シングルクォートで囲んだ文字列の中にシングルクォートがあればエラーになる。

In [ ]:
# 'Pluto's a planet!'

このような場合、バックスラッシュでエスケープすることができる。

In [ ]:
'Pluto\'s a planet!'

"Pluto's a planet!"

次の表はバックスラッシュの用法についてまとめたもの。

| What you type... |	What you get |	example	| print(example) |
| --- | --- | --- | --- |
|\\'  |	'	| 'What\\'s up?'	| What's up? |
| \\"  |	"	| "That's \\"cool\\"\" |	That's "cool" |
| \\\  |	\	| "Look, a mountain: /\\"	| Look, a mountain: /\ |
| \\n  |	 | "1\n2 3" |	1  |
|  |  | | 2 3 |

表の最後の行の`\n`は、改行文字を表し、Pythonでは改行して新しい行になる。

In [ ]:
hello = "hello\nworld"
print(hello)

hello
world

さらにPythonの3重引用符は、｀Enter`による改行をうけつける。つまり、みたままの形で文字列を変数に入れることができる。すでに`docstring`で見てきているが、どこでもできる。

In [ ]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == 'hello\nworld'

hello
world

True

`printf()`関数は自動的に改行コードを最後に入れる。デフォルトの`¥n`を入れさせないためには次のようにする。

In [ ]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

### 文字列とリスト

文字列`string`は文字`character`のシーケンス`sequence`、リスト、とみなすことができて、リストについてのほとんどの関数やメソッドが使える。

In [ ]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [ ]:
# Slicing
planet[-3:]

'uto'

In [ ]:
# How long is this string?
len(planet)

5

In [ ]:
# Yes, we can even loop over them
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

しかし!!!!

リストと文字列の最大の違いは、文字列はイミュータブル`immutable`だと言うことだ。文字列は変更できない。

In [ ]:
# planet[0] = 'B'
# planet.append doesn't work either

# TypeError: 'str' object does not support item assignment

In [ ]:
type ("")

str

### 文字列メソッド

文字列型`str`はたくさんの便利なメソッドがある。ここで紹介するのはほんの一部である。

In [ ]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [ ]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [ ]:
# Searching for the first index of a substring
claim.index('plan')

11

In [ ]:
claim.startswith(planet)

True

In [ ]:
claim.endswith('dwarf planet')

False

### 文字列をリスト、リストを文字列に変換`split()`と`join()`

`str.split()`はデフォルトはスペースで文字列を短い文字列のリストに変換する。長い文字列から単語を切り出すのに使える。

In [ ]:
split = "Pluto is a planet!"
words = claim.split()

words

['Pluto', 'is', 'a', 'planet!']

ホワイトスペース以外の切れ目で切り分けたいときもあるでしょう。

例えば :

In [ ]:
datestr = '1956-01-31'

year, month, day = datestr.split('-')

(year, month, day)

('1956', '01', '31')

`str.join()`は逆に文字列のリストをひとつの文字列にする。関数を呼び出す際にセパレーターを指定する。

In [ ]:
'/'.join([month, day, year])

'01/31/1956'

In [ ]:
# Yes, we can put unicode characters right in our string literals :)
' 👏 '.join([word.upper() for word in words])
'PLUTO 👏 IS 👏 A 👏 PLANET!'

'PLUTO 👏 IS 👏 A 👏 PLANET!'

### 文字列の整形 `.format()`

Pythonは`+`で文字列を結合できる。

In [ ]:
planet + ', we miss you.'

'Pluto, we miss you.'

文字列でないものを文字列と結合するときは、`str())`で文字列変換してから結合する。

In [ ]:
position = 9
planet = 'Pluto'
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

`str.format()`は、引数に挿入したい値を入れるので、扱いやすい。

プレースフォルダーとして`{}`を使い、引数は文字列以外も自動的に変換されるので`str{}`で文字列変換する必要がない。

In [ ]:
# use str.format()
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

`str.format()`はもっとすごいことができる。

以下はその一例。

In [ ]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
# 2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [ ]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

`str.form`だけで1冊の本が書けます。興味のある方は、pyformat.info ( https://pyformat.info/ )と公式ドキュメント ( https://docs.python.org/3/library/string.html#string-formatting )を参照のこと。

# 辞書

辞書 `dictionary` はPythonに組み込まれたデータ型で、キーと値をマップしたもの。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers

{'one': 1, 'two': 2, 'three': 3}

この例の場合、'one', 'two', 'three'がキーで、1, 2, 3 が対応する値。

値はリストや文字列のときのインデクスと似た文法でカギカッコ(`square bracket`)でアクセスできる。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['three']

3

同じ文法で別のキー、値ペアを加える。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['eleven'] = 11
numbers

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

すでにあるキーに結び付けられている値を変えるのも同じ。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'three': 3, 'two': 2}

リスト内包表記と似たやりかたで内包表記ができる。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = { planet: planet[0] for planet in planets }
planet_to_initial

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

`in` 演算子でキーの有無を知ることができる。

In [ ]:
print ('Saturn' in planet_to_initial)
print ('Betelgeuse' in planet_to_initial)

True
False

辞書で`for`ループを行うとキーについてループする。

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = 1
two = 2
three = 3

すべてのキーが欲しいときは`dict.keys()`、すべての値が欲しいときは`dict.values()`を使う。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = { planet: planet[0] for planet in planets }

# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

キーと値のペアを同時に取得するには次のようにする。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = { planet: planet[0] for planet in planets }

for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

'dict.items()'という専用のメソッドもある。

In [ ]:
for pair in planet_to_initial.items() :
     print("{} begins with \"{}\"".format(pair[0], pair[1]))

Mercury begins with "M"
Venus begins with "V"
Earth begins with "E"
Mars begins with "M"
Jupiter begins with "J"
Saturn begins with "S"
Uranus begins with "U"
Neptune begins with "N"

辞書のメソッドにほかにどんなものがあるかは、`help(dict)`、もしくは公式ドキュメントを参照のこと。

# 練習問題

### 問題 0 文字列の長さ

次のプログラムの結果を予想してから実行する。

In [ ]:
a = ""
length = len(a)
print (length)

b = "it's ok"
length = len(b)
print (length)

c = 'it\'s ok'
length = len(c)
print (length)

d = """hey"""
length = len(d)
print (length)

e = '\n'
length = len(e)
print (length)

0
7
7
3
1

### 問題 1 データサイエンス

データサイエンス学者は80%の時間をデータクリーニングに使い、残りの20%はデータクリーニングへの不平を言っている、という言い回しがある。

アメリカの郵便番号をチェックするプログラムをつくる。今回は文字列がちょうど5桁であればオーケーとしよう。

`str`のメソッドを調べるには`help(str)`を使う。

In [ ]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (5 digit) zip code
    """
    return len(zip_code) == 5

print (is_valid_zip("12"))
print (is_valid_zip("12345"))
print (is_valid_zip("123456"))
print (is_valid_zip(""))

False
True
False
False

### 問題 2. フィルタリング

とある研究者が数千のニュース記事を集めた。特定の単語で記事をフィルターにかけたいと考えている。そのための関数を作る。

関数は次の基準を満たすものとする。

- キーワードは単独で現れるものだけをとる。つまり"closed"だったら、"enclosed"は含まれない。
- 大文字小文字は区別しない。つまりキーワードが"closed"ならば"Closed the case."は含まれる。
- ピリオドはマッチに影響しない。"It is closed."は含まれる。他の句読点はないものとしてよい。

In [ ]:
def word_search(doc_list, keyword):
    """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """
    match = [doc.lower().strip(".").split().count(keyword.lower()) for doc in doc_list]
    dictOfMatch = { i : match[i] for i in range(0, len(match))}
    return  [key for key in dictOfMatch if dictOfMatch[key] > 0]

doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
word_search(doc_list, 'casino')

[0]

## 問題 3 複数キーワード検索

次に、研究者は複数のキーワードで検索したい、と思った。

いま作った`word_search`を利用して次の関数を作ること。

In [ ]:
def multi_word_search(doc_list, keywords):
    """
    Takes list of documents (each document is a string) and a list of keywords.  
    Returns a dictionary where each key is a keyword, and the value is a list of indices
    (from doc_list) of the documents containing that keyword

    >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
    >>> keywords = ['casino', 'they']
    >>> multi_word_search(doc_list, keywords)
    {'casino': [0, 1], 'they': [1]}
    """
    dictOfMatch = { keyword : word_search(doc_list, keyword) for keyword in keywords }
    
    return dictOfMatch

doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']

multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}

# ここから kaggle07import.ipynb

# メモ

1. kaggle の Python tutorial をベスに Colab ノートブックを作成している。
1. Colab で開いて読まれることを想定。
1. 元ファイル ( https://www.kaggle.com/colinmorris/working-with-external-libraries )

# はじめに

この章では、インポート import、ライブラリー library とそのオブジェクト object、演算子オーバーロード operator overload について学ぶ。

# Imports

これまで学んできた型 type と関数 function は言語に始めから組み込まれているものだった。

しかし、Python の利点は Python のために書かれ、データサイエンスなどで利用される高品質のライブラリーがたくさんあることである。

そのいくつかは標準ライブラリーで、Pythonの動く環境ならば必ずあるが、それ以外はかならずしも Python と一緒ではないが、簡単に加えることができる。

いずれにせよ、 import によってライブラリーにアクセスすることになる。
</br>
</br>

In [ ]:
import math

print("It's math! It has type {}".format(type(math)))

It's math! It has type <class 'module'>

 math はモジュールで、モジュールとは変数の集まり(ネームスペースと呼ばれる)のことである。関数 dir() を使うと math で使われるすべての name を見ることができる。
</br>
</br>

In [ ]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

```
    ['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 
    'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 
    'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 
    'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 
    'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log',
    'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 
    'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
 ```

これらの変数にはドット・シンタクスでアクセスすることができる。いくつかは単純な値の変数でたとえば math.pi がある。
</br>
</br>

In [ ]:
print("pi to 4 significant digits = {:.4}".format(math.pi))

pi to 4 significant digits = 3.142

しかし、モジュールのほとんどは関数であり、たとえば math.log がある。
</br>
</br>

In [ ]:
math.log(32, 2)

5.0

もし、 math.log がなにをするかわからなければ help() を呼び出す。
</br>
</br>

In [ ]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x[, base])

    Return the logarithm of x to the given base.
    If the base not specified, returns the natural logarithm (base e) of x.

モジュールそのもの help() を呼び出すこともできる。モジュール自体の高度な説明と、すべての関数と変数のドキュメントが得られる。
</br>
</br>

In [ ]:
help(math)

モジュールの関数を頻繁に呼び出すなら、モジュール名の alias を import 時に決めるとタイプの数を少し減らすことができる。
</br>
</br>

# いまここ

In [ ]:
import math as mt
mt.pi

3.141592653589793

`Pandas`、`Numpy`、`Tensorflow`、`Matplotlib`などポピュラーなライブラリーについては通常使われる`alias`が決まっていたりする。たとえば

```
import numpy as np
import pandas as pd
```

`as`ただ`rename`しているだけなので、次のように書いても同じである。

In [ ]:
import math
mt = math

`math`のすべての変数を`math`をつけずに使えるようにすることも可能だ。

たとえば`math.pi`と書かずに`pi`と書けば済むようになる。

In [ ]:
from math import *
print(pi, log(32, 2))

3.141592653589793 5.0

`import *`と書くとモジュールのすべての変数がドット付きの前置きなしで直接使えるようになる。

デメリット: 純粋主義者に文句を言われる。

理由はあって、考えずにこれをやるとたいへんなことになる。

In [ ]:
from math import *
from numpy import *
# this will lead to error!!!!
# print(pi, log(32, 2))

どうしのか。前はうまく行ったのに。

このような`スターインポート`はしばしば奇妙な、デバッグのむずかしい状況を作り出す。

今回の場合、問題は`math`と`numpy`の両方が`log`という関数を持っていいて、違った意味合いを持っている、ということ。`numpy`をあとに読み込んだので`math`で読み込んだ`log`を上書き`overwrite (or shadow)`してしまった。

丁度いい妥協点はそれぞれのモジュールから個々に必要なものをインポートすることだろう。

In [ ]:
from math import log, pi
from numpy import asarray

# サブモジュール

モジュールは関数や変数を指し示す名前の集まりであるが、名前はさらにモジュールの名前でもあり得る。モジュールの中のモジュールをサブモジュール`submodule`と言う。

In [ ]:
import numpy

from IPython.display import HTML, display

print("numpy.random is a", type(numpy.random))

print("it contains names such as...",
      dir(numpy.random)[-15:] )

numpy.random is a <class 'module'>
it contains names such as... ['seed', 'set_state', 'shuffle', 'standard_cauchy', 'standard_exponential', 'standard_gamma', 'standard_normal', 'standard_t', 'test', 'triangular', 'uniform', 'vonmises', 'wald', 'weibull', 'zipf']

numpy.random is a <class 'module'>

it contains names such as... ['seed', 'set_state', 'shuffle', 'standard_cauchy', 'standard_exponential', 'standard_gamma', 'standard_normal', 'standard_t', 'test', 'triangular', 'uniform', 'vonmises', 'wald', 'weibull', 'zipf']

したがって、`numpy`の場合、`random`サブモジュールの中の関数を呼び出すためには、2回ドットが必要になる。

In [ ]:
# Roll 10 dice
import numpy
rolls = numpy.random.randint(low=1, high=6, size=10)
rolls

array([3, 4, 5, 4, 1, 4, 2, 3, 1, 3])

さあ、幼稚園の卒業だ。どこかへ出発だ。
( Oh the places you'll go, oh the objects you'll see)

いままでのレッスンで`int`、`float`、`bool`、`list`、`string`、`doct`をマスターした。(ホント?)


だとしても、話はそこで終わらない。これから個々の仕事でさまざまなライブラリーを使っていくと、学ばなければならない型`type`がいろいろあることに気づくだろう。作図ライブラリーの`matplotlib`ならば`Subplot`、`Figure`、`TickMark`、`Annotation`などを表現するオブジェクトと出会う。`pandas`関数ならば`DataFrame`と`Series`だ。

この章では、奇妙な型の扱いについての短いサバイバル・ガイドを提供する。

# 奇妙な型を理解するための3つのツール

`numpy`で関数を呼ぶと`array`が返ってくる。いままで`array`は出てこなかった。しかし、大丈夫。こんなとき助けてくれる3つの組み込み関数がある。

1. type() (いったいこれは何か、を教えてくれる)

In [ ]:
import numpy
rolls = numpy.random.randint(low=1, high=6, size=10)
type(rolls)

numpy.ndarray

2. dir() (これでなにができるかを教えてくれる)

In [ ]:
print(dir(rolls))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [ ]:
# 平均をとるにはどれが使えるかな? `mean`なんかはどうだろう。やってみよう。とか。

rolls.mean()

2.8

In [ ]:
# 扱うにはなれた型がいいので、`tolist`を使ってみよう。とか。

rolls.tolist()

[4, 3, 3, 4, 1, 5, 1, 1, 1, 5]


[4, 1, 2, 2, 1, 3, 1, 1, 5, 2]

3. help() (もっと教えて)

In [ ]:
# "ravel" 属性`attribute`がおもしろそうだ。クラシック音楽に関係あるかな
help(rolls.ravel)

Help on built-in function ravel:

ravel(...) method of numpy.ndarray instance
    a.ravel([order])

    Return a flattened array.

    Refer to `numpy.ravel` for full documentation.

    See Also
    --------
    numpy.ravel : equivalent function

    ndarray.flat : a flat iterator on the array.

In [ ]:
# Okay, just tell me everything there is to know about numpy.ndarray
# (Click the "output" button to see the novel-length output)
help(rolls)

もちろん、オンライン・ドキュメントもあるので、そちらを参照してもよい。

# 演算子オーバーロード'Operator overloading'

次の式の値は何か?

In [ ]:
# [3, 4, 1, 2, 2, 1] + 10

なんて馬鹿げた質問だ。もちろんエラーになる。

しかし、次のはどうか。

In [ ]:
rolls + 10

array([14, 13, 13, 14, 11, 15, 11, 11, 11, 15])

Pythonはコアとなる文法は厳しく定義されていると思いがちであるが、`+`、`<`、`in`、`==`、インデクスやスライスのための`square bracket`など、しかし、実際のところPythonのやり方は放任主義と言える。新しい型を定義する際に、足す、や同等である、の意味を定義することができる。

`list`のデザイナーはリストに数値を足すのは駄目、と決めたが、`numpy`のデザイナーは`array`に数値を足すのは、有り、と考えた。

次に`numpy`の`array`でいくつかのPythonの演算子が意外な(少なくとも`list`と違った)ふるまいをするかを示そう。

In [ ]:
# At which indices are the dice less than or equal to 3?
import numpy
rolls = numpy.random.randint(low=1, high=6, size=10)
rolls <= 3

array([ True,  True,  True,  True,  True,  True,  True, False,  True,
       False])

### 2次元アレイを作る

In [ ]:
xlist = [[1,2,3],[2,4,6],]
# Create a 2-dimensional array
x = numpy.asarray(xlist)
print("xlist = {}\nx =\n{}".format(xlist, x))

xlist = [[1, 2, 3], [2, 4, 6]]
x =
[[1 2 3]
 [2 4 6]]

In [ ]:
# Get the last element of the second row of our numpy array
x[1,-1]

6

In [ ]:
# Get the last element of the second sublist of our nested list?
# xlist[1,-1]

```
TypeError: list indices must be integers or slices, not tuple
```
numpy's ndarray type is specialized for working with multi-dimensional data, so it defines its own logic for indexing, allowing us to index by a tuple to specify the index at each dimension.

###  When does 1 + 1 not equal 2?

ディープラーニングで広く使われる`tensorflow`というライブラリーがある。`tensorflow`では演算子オーバーロードを広範囲に使う。

In [ ]:
import tensorflow as tf
# Create two constants, each with value 1
a = tf.constant(1)
b = tf.constant(1)
# Add them together to get...
a + b

a + b は 2,ではない。

`tensorflow`のドキュメントによると

> a symbolic handle to one of the outputs of an Operation. 
> It does not hold the values of that operation's output, 
> but instead provides a means of computing those values 
> in a TensorFlow tf.Session.

ということでなに言っているかわからなくても、大事なのはかならずしも明確でなく、魔法のようなやりかたで演算子オーバーロードが行われることがある、ということを理解しておくことだ。

Pythonの演算子が`int`、`string`、`list`でどう働くかを理解していてもそれが`tensorflow Tensor`、`numpy ndarray`、`pandas Dataframe`でどういう意味かをそのままでわかったことにはならないが、すこし`DataFrame`をかじるとたとえば次のような式がどのような意味かが、本能的にわかり始める。

In [ ]:
# Get the rows with population over 1m in South America
# df[(df['population'] > 10**6) & (df['continent'] == 'South America')]

しかし、どうやってこれができているのか。上の例は5つほどの違った演算子オーバーロードが使われているが、それぞれなにをやっているのか。なにか間違ったときにこの辺を理解しておくと役に立つ。

### 演算子オーバーロードの仕組み

`help()`や`dir()`を呼び出すと前後に2つずつアンダースコアがついた名前がたくさんでてくるのに気づいているだろうか。

In [ ]:
print(dir(list))

```
 ['__add__', '__class__', '__contains__', '__delattr__', '__delitem__',  
 '__dir__', '__doc__', '__eq__', '__format__', '__ge__',  
 '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__',  
 '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__',  
 '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__',  
 '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__',  
 '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append',  
 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove',  
 'reverse', 'sort']
```

これらが、演算子オーバーロードに直接関係している。

Pythonのプログラマーが自分の作った型に演算子を定義する際、まず `__lt__`、`__setattr__`、`__contains__`のような前後に2つずつアンダースコアがついた名前のメソッドを作る。このダブル・アンダースコア書式ではPythonにとって一般に特殊な意味を持つ。

例えば、`[1, 2, 3]`が裏で`__contains__`を呼び出すとすると、それは`[1, 2, 3].__contains__(x)`としていることになる。

この辺を興味があって学びたいならばPythonの公式ドキュメントにたくさんのアンダースコア・メソッドについて書いてある。このレッスンでは扱わない。

# 練習問題

# いまここ

### 問題 1. `matplotlib`問題

ジミーは`estimate_average_slot_payout`関数をためしてみたところ、長くやればカジノに勝つことに気がついた。200ドルで始めて500回やって結果を`list`にした。Pythonの`matplotlib`をつかって時系列でバランスのグラフを書いた。

In [ ]:
# Import the jimmy_slots submodule
# from learntools.python import jimmy_slots
# Call the get_graph() function to get Jimmy's graph
# graph = jimmy_slots.get_graph()
# graph

最近の結果は思わしくない。この結果を`emoji`を使ってツイートしようと思う。しかしこのままではフォロワーが混乱する。

あなたは、次のような変更をしてほしいと言われた。

> Add the title "Results of 500 slot machine pulls"  
> Make the y-axis start at 0.  
> Add the label "Balance" to the y-axis

`type(graph)`で調べてみたら、ジミーのグラフの型は`matplotlib.axes._subplots.AxesSubplot`という知らない型だった。つぎに`dir(graph)`でメソッドを調べたら、使えそうなのが3つ見つかった。`.set_title()`、`.set_ylim()`、`.set_ylabel()`である。

これらのメソッドを使って関数`prettify_graph`を完成させる。

メソッドについては`help()`で調べること。

In [ ]:
def prettify_graph(graph):
    """Modify the given graph according to Jimmy's requests: add a title, make the y-axis
    start at 0, label the y-axis. (And, if you're feeling ambitious, format the tick marks
    as dollar amounts using the "$" symbol.)
    """
    graph.set_title("Results of 500 slot machine pulls")
    # Complete steps 2 and 3 here
    pass

# graph = jimmy_slots.get_graph()
# prettify_graph(graph)
# graph

ボーナス問題: y軸の数字を200でなく$200になるようにフォーマットする。

もしメソッドがわからなければ`dir(graph)`や`help(graph)`を使って調べること。

### 問題 2. 超難問 マリオカート問題

ルイージはマリオカートのサーキットのベストタイムを分析している。彼が持っているデータは辞書のリストである。
```
[
    {'name': 'Peach', 'items': ['green shell', 'banana', 'green shell',], 'finish': 3},
    {'name': 'Bowser', 'items': ['green shell',], 'finish': 1},
    # Sometimes the racer's name wasn't recorded
    {'name': None, 'items': ['mushroom',], 'finish': 2},
    {'name': 'Toad', 'items': ['green shell', 'mushroom'], 'finish': 1},
]
```

'items'はレーサーがレースで拾ったパワーアップアイテムのリスト、`finish`はレースでの順位。1が1位で、3が3位。

このようなリストを受取り、アイテムごとに何人の1位のレーサーがそのアイテムを拾ったかを算出する関数を書いた。

In [ ]:
def best_items(racers):
    """Given a list of racer dictionaries, return a dictionary mapping items to the number
    of times those items were picked up by racers who finished in first place.
    """
    winner_item_counts = {}
    for i in range(len(racers)):
        # The i'th racer dictionary
        racer = racers[i]
        # We're only interested in racers who finished in first
        if racer['finish'] == 1:
            for i in racer['items']:
                # Add one to the count for this item (adding it to the dict if necessary)
                if i not in winner_item_counts:
                    winner_item_counts[i] = 0
                winner_item_counts[i] += 1
    
     # Data quality issues :/ Print a warning about racers with no name set. We'll take care of it later.
        if racer['name'] is None:
            print("WARNING: Encountered racer with unknown name on iteration {}/{} (racer = {})".format(
                i+1, len(racers), racer['name'])
                 )
    return winner_item_counts

サンプルリストを作り、試したところ正しく作動しているようだ。

In [ ]:
sample = [
    {'name': 'Peach', 'items': ['green shell', 'banana', 'green shell',], 'finish': 3},
    {'name': 'Bowser', 'items': ['green shell',], 'finish': 1},
    {'name': None, 'items': ['mushroom',], 'finish': 2},
    {'name': 'Toad', 'items': ['green shell', 'mushroom'], 'finish': 1},
]
best_items(sample)

WARNING: Encountered racer with unknown name on iteration 3/4 (racer = None)

{'green shell': 2, 'mushroom': 1}

しかし、本物のデータベースで走らせたところ、`TypeError`でクラッシュしてしまった。

なぜか。

次のコードセルを実行して、ルイージが遭遇したエラーを見てみよう。バグがわかったら、直してエラーにならないようにする。

ヒント: ルイージのバグはインポートについてのチュートリアルでスターインポートのときのバグと同様のもの。

In [ ]:
# Import luigi's full dataset of race data
# from learntools.python.luigi_analysis import full_dataset

# fix me
def best_items (racers):
    winner_item_counts = {}
    for i in range(len(racers)):
        # The i'th racer dictionary
        racer = racers[i]
        # We're only interested in racers who finished in first
        if racer['finish'] == 1:
            for i in racer['items']:
                # Add one to the count for this item (adding it to the dict if necessary)
                if i not in winner_item_counts:
                    winner_item_counts[i] = 0
                winner_item_counts[i] += 1
        # Data quality issues :/ Print a warning about racers with no name set. We'll take care of it later.
        if racer['name'] is None:
            print("WARNING: Encountered racer with unknown name on iteration {}/{} (racer = {})".format(
                i+1, len(racers), racer['name'])
                 )
    return winner_item_counts
# Try analyzing the imported full dataset
best_items(full_dataset)

### 問題 3. ブラックジャック

ブラックジャックの手札を表す型を作るとする。 比較演算子の > や = をオーバーロードして、手札のどちらが強いかがわかると便利なのではないか。
</br>
</br>

In [ ]:
hand1 = BlackjackHand(['K', 'A'])
hand2 = BlackjackHand(['7', '10', 'A'])
hand1 > hand2

# True

カスタムクラスを定義するのはこのレッスンの範囲を超えているので、なにもかもカバーしようとしているわけではないが、もし BlackjackHand というクラスを定義したとして
作る関数によく似た考え方のプログラムを作って欲しい。

次の例では、 > のようなメソッドを作るのに __gt__ マジックを使っている。

</br>
</br>

In [ ]:
def blackjack_hand_greater_than:
    """
    Return True if hand_1 beats hand_2, and False otherwise.
    
    In order for hand_1 to beat hand_2 the following must be true:
    - The total of hand_1 must not exceed 21
    - The total of hand_1 must exceed the total of hand_2 OR hand_2's total must exceed 21


    Hands are represented as a list of cards. Each card is represented by a string.
    
    When adding up a hand's total, cards with numbers count for that many points. Face
    cards ('J', 'Q', and 'K') are worth 10 points. 'A' can count for 1 or 11.
    
    When determining a hand's total, you should try to count aces in the way that 
    maximizes the hand's total without going over 21. e.g. the total of ['A', 'A', '9'] is 21,
    the total of ['A', 'A', '9', '3'] is 14.
    
    Examples:
    >>> blackjack_hand_greater_than(['K'], ['3', '4'])
    True
    >>> blackjack_hand_greater_than(['K'], ['10'])
    False
    >>> blackjack_hand_greater_than(['K', 'K', '2'], ['3'])
    False
    """
    pass
​