<a href="https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/learnpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

メモ 

ython を学ぶ。

アイデアは、サクサクっと python を学ぶための colab ノートブックを作る。

とりあえず kaggle と chainer と functional とかを材料に書き始めてみる。 数学と違って、定義や証明ではなく、問題-解答ペアで進む予定。

# 最初の例

In [3]:
# 最初の例
x = 0
print(x)

x = x + 4

if x > 0:
    print("x is larger than 0")

text = "hello " * x
print(text)

0
x is larger than 0
hello hello hello hello

上の例からわかること
* 変数は突然使える。 型を指定しないでよい。
* 変数は変えられる。
* if が使える。 コロンが必要。インデントが必要。
* 文字列に数字を掛けることができる。
* コメントは `#` で始まる。

実験してみてわかること
* 文字列に例えば 4.5 とかかけようとするとエラーになる。
* 4.5 とかは float らしい。

補足
* `=`は代入演算子と呼ばれる
* 変数を宣言する必要はない。
* 変数に代入される値のタイプをあとから変えられる。数値を代入したあとに文字列やブール型の値を代入するができる。

In [7]:
x = 4
print(type(x))
x = True
print(type(x))
x = "this is x."
print(type(x))

<class 'int'>
<class 'bool'>
<class 'str'>

メモ 
* print は改行が自動で入る。
* bool は True, False で小文字にするとエラーになる。
* True, False 以外はなにが True になりなにが False になるのか。 => あとで bool という見出しを立てる。

関数の呼び出し: `print` は Python の関数で、関数名のあとにカッコをつけることによって、関数を呼び出す。カッコの中には入力値(引数)を入れる。

`type`も  python のビルトイン関数、組み込み関数、built-in 関数で型を返す。

メモ
* python の組み込み関数はオブジェクトのメソッドとしての関数ではないので、使い方が決まっている。 [1,2,3].len() ではなくて、len([1,2,3])。

上のコードの最初の行はコメントで、Python ではコメントは`#`記号で始まる。

次の行は再代入 `reassignment` の例。変数を作成したときと同じ `=` 演算子を使う。

この例では `amount_in_dollars` への再代入に際し、以前の値に簡単な計算を施している。この行のところに来ると、Pythonは`=`の右辺すなわち `(0 + 4 = 4)` を評価し、その結果を、左辺の変数に代入する。

In [ ]:
if amount_in_dollars > 0:
    print("I don't want ANY money!")

money_song="Money Money Money"
print(money_song)

I don't want ANY spam!
Money Money Money

条件式(`conditionals`)についてはまだ詳しくは述べないが、プログラムしたことのない人でもこのコードのやっていることは想像がつくだろう。

どのようにして、コードの `if` に属する部分を区別しているか。

 "I don't want ANY money!" が出力されるのは、amount_in_dollars が正の値の時だけ。ところが、そのあとのコード(たとえば print(money_song))は条件にかかわらず実行される。Pythonはどうやってこれを区別しているのか。

`if` のある行のコロン `(:)` がコードブロックが始まることを示す。そのあとのインデントされている行がコードブロックを形成する。他の言語は一般的には`{curly braces}`でコードブロックの始まりと終わりを示す。Pythonがホワイトスペースに意味付けをして使うことは、他の言語に慣れたプログラマーが驚くが、実際には統一的で読みやすいコードになる。

次からの行はmoney_songを扱っていて、4スペースでインデントされていないので、if のコードブロックには属していない。インデントされたコードブロックの例はあとで関数の定義とくり返しの説明の時にも出てくる。

このコードスニペットで初めてPythonにおける文字列の例が出てきている。
```
"I don't want ANY money!"
```

文字列はダブルクォートもしくはシングルクォートで囲まれる。この例の場合は文字列がシングルクォートを含んでいるので、なんらかの対応をしないと全体をシングルクォートで囲むことはできない。対応方法については後述する。

In [ ]:
money_song = "Money " * amount_in_dollars
print(money_song)

Spam Spam Spam Spam

演算子`*` はふつうはふたつの数字を掛け合わせる `(3 * 3 -> 9)` のに使われるが、文字列に演算子 `*` を使うと文字列の繰り返しになる。他にも演算子 `+` が数字に使われる時と文字列に使われる時が違う意味で便利に使えるようになっている。この仕組みを演算子オーバーロードと言う。

### Pythonの数字と演算について

すでに数字を含む変数の例を一つ見た。

In [ ]:
amount_in_dollars = 0

数字にもいろんな種類がある。Pythonの`type`という関数を使うと、型 `type` を表示できる。

In [ ]:
type (amount_in_dollars)

int

In [ ]:
if type (amount_in_dollars) == int:
  print ("整数!!!!")

整数!!!!

これで、amount_in_dollarsが `int` であることがわかった。`int` は integer (整数) の省略形。

In [ ]:
type (19.95)

float


`float` は浮動小数点型。

`type()` は `print()` と同様にPythonの組み込み関数の一つ。型を確認するのに便利に使える。

数字について電卓にあるような四則演算の演算子は Python にもある。

| Operator	| Name	| Description |
| ---- | ---- | ----|
|a + b  | Addition	     |   Sum of a and b |
|a - b	| Subtraction	   |   Difference of a and b |
|a * b	| Multiplication |	 Product of a and b |
|a / b	| True division	 |   Quotient of a and b |
|a // b	| Floor division |	 Quotient of a and b, removing fractional parts |
|a % b	| Modulus	       |   Integer remainder after division of a by b |
|a ** b	| Exponentiation |	 a raised to the power of b |
|-a	    | Negation	     |   The negative of a |


割り算の演算子が2種類あることに注意。

電卓の割り算は "True division" です。

In [ ]:
print (5 / 2)
print (6 / 2)

2.5
3.0

In [ ]:
print (9 // 4)
print (-9 // 4)

2
-3

演算子 `/` の結果は常に `float` 。

演算子 `//` は割り算の結果以下の最大の整数を返す。

In [ ]:
print (5 // 2)
print (6 // 2)

2
3

これがどんなところで便利かは後ほどの例でわかるだろう。


### 演算の優先順位
小学校で習う算数で、計算には順序があることを習う。PEMDAS というニーモニックを覚えている人もいるだろう。
* Parentheses カッコ
* Exponents 冪乗
* Multiplication/Division 乗算/除算
* Addtion/Subtraction 加算/減算

Python においても同じルールが適用される。

In [ ]:
8 - 3 + 2

7

In [ ]:
-3 + 4 * 2

5

次の例ではカッコによって強制的に計算の順序を変える必要がある。

In [ ]:
# 頭を除いた肩までの高さを計算する
head_height_cm = 25
my_height_cm = 190
shoulder_height_meters = ( my_height_cm - head_height_cm ) / 100
print("Shoulder height in meters = " ,  shoulder_height_meters, "?")

Shoulder height in meters =  1.65 ?

# 数字に関する組み込み関数
`min` と `max` は引数の最小値と最大値を返す。

In [ ]:
print(min(1, 2, 3)) 
print(max(1, 2, 3))

1
3

`abs` は引数の絶対値を返す。

In [ ]:
print(abs(32)) 
print(abs(-32))

32
32

`float` と `int` は数字の型の名前であるだけでなく引数の型を変換する関数として呼び出すことができる。

In [ ]:
print(float(10)) 
print(int(3.33))
print (int (-3.33))
print(-3.33 // 1)

10.0
3
-3
-4.0

In [ ]:
# They can even be called on strings!
print(int('807') + 1)
10.0
print(float('33.3') + 0.2 )

808
33.5

# 練習問題

In [ ]:
print("Pythonコードを実行した!!!!") 
print("おめでとう!!!!")

Pythonコードを実行した!!!!
おめでとう!!!!

コードを追加したり変えたりして、再度実行してみよう。

### 問題 0. 変数、代入、文字列

colorという変数を作って、値を代入する。文字列はシングルクォートまたはダブルクォートで囲む。

In [ ]:
color = "pink"
print(color)
type(color)

pink

str

### 問題 1. 四則演算
| 演算子	| 名前	| 説明 |
| ---- | ---- | ----|
|a + b  | 加算	     |   aとbの合計 |
|a - b	| 減算	   |   aとbの差分 |
|a * b	| 乗法 |	 aとbの積 |
|a / b	| 除算	 |   aとbの商 |
|a // b	| 床除算 |	 aとbの商から少数部分を除いたもの |
|a % b	| 余り       |   整数割り算の余り |
|a ** b	| 冪乗 |	 aのb乗 |
|-a	    | マイナス	     |   マイナスa |

In [ ]:
pi = 3.14159 # 少数5桁までの円周率π
diameter = 3 # 直径

# 直径の半分の長さの半径(radius)という名前の変数を作る
radius = diameter / 2

# 公式 円の面積 = 円周率かける半径の二乗 を使って円の面積を(area)計算する
area = pi * radius ** 2
print ("円の面積: " , area)

円の面積:  7.0685775

## 問題 2. 変数aとbの中身を入れ替える
つまり、aの中身が以前のbでbの中身が以前のaになるようにする。

In [ ]:
a = [1, 2, 3]
b = [3, 2, 1]
print(a, b)
temp = a; a = b; b = temp
print(a, b)

[1, 2, 3] [3, 2, 1]
[3, 2, 1] [1, 2, 3]

In [ ]:
# 別解
a = [1, 2, 3]
b = [3, 2, 1]
print(a, b)
a, b = b, a
print(a, b)

[1, 2, 3] [3, 2, 1]
[3, 2, 1] [1, 2, 3]

## 問題 3. カッコを使って計算結果を変えるクイズ

In [ ]:
# カッコを使って計算結果を1にする
print (5 - 3 // 2)
print ((5 - 3) // 2)

4
1

In [ ]:
# カッコを使って計算結果を0にする
print(8 - 3 * 2 - 1 + 1)
print(8 - (3 * 2) - (1 + 1))

2
0

## 問題 4. AliceとBobとCarolはハロウィーンキャンディを集めて3人で平等に分けて、余りが出た場合は潰して捨てることにした。

例えば、全部で91だった場合、30個ずつ取って、1個捨てる。

捨てなければならないキャンディの数を算出する

In [ ]:
# 例えば、全部で91だった場合、30個ずつ取って、1個捨てる
# 捨てなければならないキャンディの数を算出する
alice_candies = 121
bob_candies = 77
carol_candies = 109

to_smash = (alice_candies + bob_candies + carol_candies) % 3
print(to_smash)

1