<a href="https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/learnpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

メモ 

python を学ぶ。

アイデアは、サクサクっと python を学ぶための colab ノートブックを作る。

とりあえず kaggle と chainer と functional とかを材料に書き始めてみる。 数学と違って、定義や証明ではなく、問題-解答ペアで進む予定。

# 最初の例

In [ ]:
# 最初の例
x = 0
print(x)

x = x + 4

if x > 0:
    print("x is larger than 0")

text = "hello " * x
print(text)

0
x is larger than 0
hello hello hello hello

上の例からわかること
* 変数は突然使える。 型を指定しないでよい。
* 変数は変えられる。
* if が使える。 コロンが必要。インデントが必要。
* 文字列に数字を掛けることができる。
* コメントは `#` で始まる。

実験してみてわかること
* 文字列に例えば 4.5 とかかけようとするとエラーになる。
* 4.5 とかは float らしい。 4 は int か。

補足
* `=`は代入演算子と呼ばれる
* 変数を宣言する必要はない。
* 変数に代入される値のタイプをあとから変えられる。数値を代入したあとに文字列やブール型の値を代入するができる。

In [8]:
x = 4
print(type(x))
x = 0.0
print(type(x))
x = True
print(type(x))
x = "this is x."
print(type(x))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

メモ 
* 型の名前: int, float, bool, str とか。
* print は改行が自動で入る。
* bool は True, False で小文字にするとエラーになる。
* True, False 以外はなにが True になりなにが False になるのか。 => 課題 真偽の値。

関数は関数名のあとにカッコをつけることによって、関数を呼び出す。 カッコの中には引数 ひきすう を入れる。

`type`も  python のビルトイン関数、組み込み関数、built-in 関数。

メモ
* python の組み込み関数はオブジェクトのメソッドとしての関数ではないので、使い方が決まっている。 [1,2,3].len() ではなくて、len([1,2,3])。

言葉
* 再代入 `reassignment` 
* 演算子オーバーロード 文字列 * 整数 => 繰返し、のように演算子の意味を変えて使うこと。

* `int` は integer (整数) の省略形。
* `float` は浮動小数点型。

| Operator	| Name	| Description |
| ---- | ---- | ----|
|a + b  | Addition	     |   Sum of a and b |
|a - b	| Subtraction	   |   Difference of a and b |
|a * b	| Multiplication |	 Product of a and b |
|a / b	| True division	 |   Quotient of a and b |
|a // b	| Floor division |	 Quotient of a and b, removing fractional parts |
|a % b	| Modulus	       |   Integer remainder after division of a by b |
|a ** b	| Exponentiation |	 a raised to the power of b |
|-a	    | Negation	     |   The negative of a |

割り算の演算子が2種類あることに注意。

電卓の割り算は "True division" 。

演算子 `/` の結果は常に `float` 。

演算子 `//` は割り算の結果以下の最大の整数を返す。

切り下げ flooor、 切り上げ ceiling は次のようにする。

In [11]:
print (5 // 2)
print (-(-5 // 2))

2
3

# 演算の優先順位
小学校で習う算数で、計算には順序があることを習う。PEMDAS というニーモニックを覚えている人もいるだろう。
* Parentheses カッコ
* Exponents 冪乗
* Multiplication/Division 乗算/除算
* Addtion/Subtraction 加算/減算

python  においても同じルールが適用される。

# 数字に関する組み込み関数
`min` と `max` は引数の最小値と最大値を返す。

In [ ]:
print(min(1, 2, 3)) 
print(max(1, 2, 3))

1
3

`abs` は引数の絶対値を返す。

In [ ]:
print(abs(32)) 
print(abs(-32))

32
32

`float` と `int` は数字の型の名前であるだけでなく引数の型を変換する関数として呼び出すことができる。

In [12]:
print(float(10)) 
print(int(3.33))
print (int (-3.33))
print(-3.33 // 1)
print(-(-3.33 // 1))

10.0
3
-3
-4.0
4.0

文字列を数字に直すこともできる。

In [ ]:
# 文字列を数字に直すこともできる
print(int('807') + 1)
10.0
print(float('33.3') + 0.2 )

808
33.5

---
質問

文字列で与えられた 2 進数や 16 進数を int に変換できるか。

逆に int を 2 進数や 16 進数に変換できるか。

基数変換と言う。

いまはわからないので、わかったら追記する。

---
# 四則演算

| 演算子	| 名前	| 説明 |
| ---- | ---- | ----|
|a + b  | 加算	     |   a と b の合計 |
|a - b	| 減算	   |   a と b の差分 |
|a * b	| 乗法 |	 a と b の積 |
|a / b	| 除算	 |   a と b の商 |
|a // b	| 床除算 |	 a と b の商から少数部分を除いたもの floor |
|a % b	| 余り       |   整数割り算の余り modulo|
|a ** b	| 冪乗 |	 a の b 乗 power |
|-a	    | マイナス	     |   マイナスa |

In [ ]:
# 円の面積を計算する
pi = 3.14159 # 少数5桁までの円周率π
diameter = 3 # 直径

# 直径の半分の長さの半径(radius)という名前の変数を作る
radius = diameter / 2

# 公式 円の面積 = 円周率かける半径の二乗 を使って円の面積を(area)計算する
area = pi * radius ** 2
print ("円の面積: " , area)

円の面積:  7.0685775

---
問題 $\quad$ 変数 a と b の中身を入れ替える。

In [ ]:
# 変数 a と b の中身を入れ替える。
a = [1, 2, 3]
b = [3, 2, 1]
print(a, b)
temp = a; a = b; b = temp
print(a, b)

[1, 2, 3] [3, 2, 1]
[3, 2, 1] [1, 2, 3]

python では a,b = b,a ができる。

In [ ]:
# 別解
a = [1, 2, 3]
b = [3, 2, 1]
print(a, b)
a, b = b, a
print(a, b)

[1, 2, 3] [3, 2, 1]
[3, 2, 1] [1, 2, 3]

# 関数
* help(関数名)
* dir(クラス/オブジェクト)
* 関数名?
* 関数名??

とか。便利。

例 $\quad$ `help(round)`

`help(round)` の出力を読んでから、次のコードを実行してみる。

* round(-2.01)
* round(3.12345455, -2)
* round(1234567, 3)
* round(1234567, -3)

他の関数についてもhelp()を実行してみる。

* help(abs)

In [21]:
# 実験
print(round(3.14))
print(type(round(3.14)))
print(round(3.14,0))
print(type(round(3.14,0)))
print (round(1234567, -3))
print(type (round(1234567, -3)))
print(round(1234567.3, -3))
print(type (round(1234567.3, -3)))

3
<class 'int'>
3.1
<class 'float'>
1235000
<class 'int'>
1235000.0
<class 'float'>

`round()` は単純で説明の短い関数だった。

`print()`の場合 `help(print)`の結果も長くなる。

# 関数を定義する

In [23]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers among a, b and c.
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

least_difference(10, 3, 5)

2

* ここでは least_difference() という関数が作られている。
* 3 つの引数 a, b, c を取る。
*  関数の定義は `def` というキーワードで始まる。`:` のあとのインデントブロックが関数定義の本体。
* キーワード `return` で関数を抜け、`return` のあとにある値が返り値となる。

In [24]:
print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7), #  python は引数の最後にカンマがついていても大丈夫。
)

9 0 1

In [25]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers among a, b and c.
    >>> least_difference(1, 5, -5)
    4

# ドックストリング
ドックストリング `docstring` は関数を定義する時にヘッダーの直後に書かれる 3 クォートで囲まれた数行にわたる部分のこと。 help()でこのdocstringが出力される。

numpyの関数 np.eye の docstring が参考になる。

In [ ]:
# import numpy as np
# help (np.eye)

---
返り値のない関数

キーワード `return` を含まない関数の返り値は `None` になる。

In [27]:
print(type(None))

<class 'NoneType'>

In [ ]:
mystery = print()
print(mystery)

None

---
引数のデフォルト値

関数 `print` のオプションとしていくつかの引数をがある。
たとえば出力の項目の間に入れる文字列を指定するには `sep` という変数に値を入る。

In [ ]:
print(1, 2, 3, sep=' < ')

1 < 2 < 3

しかし、値を指定しない場合、`sep`にはデフォルトの値であるスペース 1 個が入る。

In [ ]:
print(1, 2, 3)

1 2 3

関数の定義の時にデフォルト値を指定するには、次のようにする。

In [ ]:
def greet(who="Colin"):
    print("Hello,", who)
    
greet()
greet(who="Kaggle")

# 明確で誤解が生じる余地のない場合、引数の名前を省略できる。
greet("world")

Hello, Colin
Hello, Kaggle
Hello, world

---
関数から関数を呼び出す

関数から関数を呼び出す、というと関数型プログラムの Haskell や Scheme のようだが、それほど抽象的なことはできないが、つぎのようなやり方で関数を呼び出すことができる。

In [ ]:
def mult_by_five(x):
    """x is multiplied by five"""
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

def cubed_call(fn, arg):
    """Call fn on the result of fn calling fn on arg"""
    return fn(fn(fn(arg)))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1), 
    cubed_call(mult_by_five,1),
    sep='\n', # '\n' is the newline character - it starts a new line
)

5
25
125

関数に作用する関数は高階関数 "Higher order functions" と呼ばれる。

python の `max` は複数の引数の中で最大のものを返すが、オプションとして `key` に関数を指定すると `key(x)` が最大なxを返す。

In [ ]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

---
問題 `docstring` に基づいて関数を完成させる。

ヒント: `round` は python の組み込み関数。

In [4]:
def round_to_three_places(num):
    """小数点 3 桁までを求める。4 桁目を四捨五入
    >>> round_to_three_places(3.14159)
    3.141
    """
    return round(num, 3)

round_to_three_places(3.14159)

3.141

---
問題  `round` の `ndigits`

`help()` によると `round` の 2 番目の引数 `ndigits` は負の数でもかまわない。

次のコードセルで実験してみる。

In [ ]:
round(12345678, -6)

12000000

---
エラーメッセージを読む

エラーメッセージを読むことは、 python の勉強になる。

バギーなコードを、コメントアウト、アンコメントし、実行することを繰り返しながらコードを完成させる。

ちなみに、`ctrl`+`/` で選択した行を交互にコメントアウト、アンコメントできる。

---
問題 $\quad$絶対値の小さい方を返す関数を作る

In [6]:
# 絶対値の小さい方を返す
def smallest_abs(x,y):
    """絶対値の小さい方を返す
    >>> smallest_abs(-10, 5)
    5
    """
    return min(abs(x), abs(y))

smallest_abs(-10, 5)

5

# ブール型
ブール型の値は True と False だけ。

In [ ]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

---
比較演算

| 演算	| 説明	|	|演算	|説明|
|---|---|---|---|---|
| a == b	| a は b に等しい            |	| a != b	| a は b に等しくない |
| a < b	  | a 小なり b	            | 	| a > b	  | a 大なり b |
| a <= b	| a 小なりイコール b	|	| a >= b	| a 大なりイコール b |

In [24]:
# 実験
print(True)
if 1 :
    print ("1 is True")
if None :
    print ("None is True")
else: print ("None is False")
print(None)
if -1 :
    print ("-1 is True")
else: print ("-1 is False")
if 0 :
    print ("0 is True")
else: print ("0 is False")
print([])
if [] :
    print ("[] is True")
else: print ("[] is False")
if [1] :
    print ("[1] is True")
else: print ("[1] is False")
if "" :
    print ("\"\" is True")
else: print ("\"\" is False")

True
1 is True
None is False
None
-1 is True
0 is False
[]
[] is False
[1] is True
"" is False

python で False なのは

In [89]:
# python で False 以外は True
print(bool(False))
print(bool(None))
print(bool())
print(bool(EOFError)) # エラーは True
print(bool(0)) # 0 以外の数値は True だが
print(bool(0.0))
print(bool(0j))
print(bool(0+0j))
print(bool("")) # カラの str
print(bool(())) # カラのタプル
print(bool([])) # カラのリスト
print(bool({})) # カラの dict
print(int(True))
print(int(False))

False
False
False
True
False
False
False
False
False
False
False
False
1
0

In [34]:
name = ""
if name:
    print("名前は" + name + "です")
else:
    print("名前は未登録です")

名前は未登録です

---
問題 $\quad$ 引数に年齢を入れて呼び出すと、アメリカの大統領に立候補できる年齢かどうかを判定する

In [35]:
# 引数に年齢を入れて呼び出すと、アメリカの大統領に立候補できる年齢かどうかを判定する
def can_run_for_president(age):
    """引数に年齢を入れて呼び出すと、アメリカの大統領に立候補できる年齢かどうかを判定する"""
    # The US Constitution says you must be at least 35 years old
    return age >= 35

print("Can a 19-year-old run for president?", can_run_for_president(19))
print("Can a 45-year-old run for president?", can_run_for_president(45))

Can a 19-year-old run for president? False
Can a 45-year-old run for president? True

---
ブール値の組み合わせ

`and`、`or`、`not`でブール値を組み合わせることができる。

In [36]:
# 引数に年齢とアメリカ生まれかどうかを入れて呼び出すと、
# アメリカの大統領に立候補することが法律上できるかどうかを判定してTrueまたはFalseを返す

def can_run_for_president(age, is_natural_born_citizen):
    """Can someone of the given age and citizenship status run for president in the US?"""
    # The US Constitution says you must be a natural born citizen *and* at least 35 years old
    return is_natural_born_citizen and (age >= 35)

print(can_run_for_president(19, True))
print(can_run_for_president(55, False))
print(can_run_for_president(55, True))

False
False
True

---
ブール演算の優先順位

`and`は`or`より先に評価される。

なるべくカッコを使ってわかりやすくする。

In [40]:
print(True or True and False)
print(True or (True and False))
print((True or True) and False)

True
True
False

In [42]:
# True は False より大きい
if True > False:
    print ("True is larger than False")

True is larger than False

---
条件文

ブール型は `if`、`elif`、`else` キーワードの条件文と組み合わせて使う。

条件文は `if` 文とも言われる。

In [45]:
# 引数がゼロか、正か、負かを判定して文字列を返す
# 関数の中で print を使わない
def inspect(x):
    if x == 0:
        return "{} is zero".format(x)
    elif x > 0:
        return "{} is positive".format(x)
    elif x < 0:
        return "{} is negative".format(x)
    else:
        return "{} is unlike anything I've ever seen...".format(x)

print(inspect(0))
print(inspect(-15))

0 is zero
-15 is negative

---
質問

* なぜ else if でなく elif なのか。
* if は後置で使えるか。
* if, elif, else を改行なしで書けるか。

---
問題

数値の引数を取り、負の場合は-1、正の場合は1、0の場合は0を返す、signと呼ばれる関数を定義する。多くのプログラミング言語にはあって、 python の組み込み関数にはないもの。

In [57]:
import numpy as np
np.sign(-1)

-1

In [ ]:
from sympy import sign
sign(-1)

In [63]:
# 数値の引数を取り、負の場合は-1、正の場合は1、0の場合は0を返す
def sign (x) :
    if x < 0 :
        return -1
    elif x > 0 :
        return 1
    else :
        return 0

print (sign(-1))
print (sign(1))
print (sign(0))

-1
1
0

---
問題 $\quad$ 引数を args を set で受ける

* hotdog (ketchup, mustard, onion) => "wants all toppings with ketchup and mustard and onion"
* hotdog () => "wants plain hotdog without toppings"
* hotdog (ketchup) => "wants hotdog with once sauce ketchup"
* hotdog (ketchup, onion) => "wants two sauce ketchup and onion"

In [85]:
def hotdog (*args):
    args = set(args)
    if args == set():
        return "wants plain hotdog without toppings"
    elif args == {"ketchup"}:
        return "wants hotdog with once sauce ketchup"
    elif args == {"mustard"}:
        return "wants hotdog with once sauce mustard"
    elif args == {"onion"}:
        return "wants hotdog with once sauce onion"
    elif args ==  {"ketchup", "mustard"}:
        return "wants two sauce ketchup and mustard"
    elif args ==  {"ketchup", "onion"}:
        return "wants two sauce ketchup and onion"
    elif args ==  {"mustard", "onion"}:
        return "wants two sauce mustard and onion"
    elif args ==  {"ketchup", "mustard", "onion"}:
        return "wants all toppings with ketchup and mustard and onion"

print(hotdog("onion", "mustard"))
print(hotdog())
print(hotdog("onion", "mustard", "ketchup"))
print(hotdog("onion"))

wants two sauce mustard and onion
wants plain hotdog without toppings
wants all toppings with ketchup and mustard and onion
wants hotdog with once sauce onion

---
問題 

`int()` の引数にブール型を入れて、合計をとることにより、1 つだけ選ばれたことを判定することができる。

In [ ]:
def exactly_one_topping(ketchup, mustard, onion):
    return (int(ketchup) + int(mustard) + int(onion)) == 1

ketchup = True
mustard = True
onion = True

print (exactly_one_topping(ketchup, mustard, onion))

False

# リスト

In [ ]:
# リストの例
primes = [2, 3, 5, 7]
print(primes)

[2, 3, 5, 7]

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

リストのリストが作れる。

In [ ]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # 最後の要素のあとにカンマがあってもかまわない
]

print(hands)

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

python のリストは型の混在が可能。

In [90]:
my_favourite_things = [32, 'raindrops on roses', help]
print(my_favourite_things)

[32, 'raindrops on roses', Type help() for interactive help, or help(object) for help about object.]

---
インデクス

リストの要素には角括弧 `square brackets` でアクセスできる。

太陽に一番近い惑星はどこか?  python のインデクスは0スタートなので、最初の要素はインデクス0となる。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[0]

'Mercury'

冥王星 Pluto がないのは惑星ではなくなったから。

太陽から一番遠い惑星はどこか?

リストの最後の要素はマイナスの数でアクセスできる。

In [ ]:
print(planets[-1])
print(planets[-2])

Neptune
Uranus

---
スライス、スライシング、切り取り、コロン

太陽から近い順に3つの惑星をリストにする。このようなときにスライシングが使える。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[0:3]

['Mercury', 'Venus', 'Earth']

`planets[0:3]` の意味はインデクス 0 から 3 までで、3 を含まない、ということ。

スタートとエンドの要素は省略可能。最初のインデクスを省略すると、0とみなされるので、前の例は次のように書ける。

In [ ]:
planets[:3]

['Mercury', 'Venus', 'Earth']

エンドのインデクスを省略すると、リストの長さを指定したことになる。

In [ ]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

`planets[3:]`の意味はインデクス3から最後まで、という意味になる。

スライシングにマイナスのインデクスを使うこともできる。

In [ ]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [ ]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

---
リストの更新

リストは可変 `mutable` である。コピーを作らずその場でそのものを更新できる。

インデクスやスライスで値を入れることでリストを更新できる。

例えば火星 `Mars` の名前を変えたいとしよう。

In [93]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[3] = 'Malacandra'
print(planets)

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

最初の3つの惑星の名前を短くしてみよう。

In [ ]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# 元に戻す
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

---
リスト関数

リストを扱う便利な関数がいろいろある。

`len` はリストの長さを返す。

In [ ]:
# How many planets are there?
len(planets)

8

`sorted` はリストのソートしたものを返す。

In [ ]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

`sum` は数値の合計を返す。

In [ ]:
primes = [2, 3, 5, 7]
sum(primes)

`min` と `max` はリストを引数として渡すこともできる。

In [ ]:
max(primes)

7

In [ ]:
min(planets)

'Earth'

---
オブジェクトとドットシンタクス

オブジェクトはなんらかの性質をもっている物であり、その性質にアクセするためにドットシンタクスがある。

例えば、 python の数値は `imag` と呼ばれる虚数部分を表す変数を持っていて、次のようにアクセスする。

In [ ]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)

0

In [95]:
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

3.0

オブジェクトは関数を持っていていて、オブジェクトに付属する関数のことはメソッドと呼ばれる。

`imag`のようなオブジェクトの性質は属性 `attributes` と呼ぶ。

例えば、整数は`bit_length`というメソッドを持っていて、次のように使う。

In [102]:
x = -3
x.bit_length()

2

普通の関数の `help()` は 'help(max)` のように使うが、メソッドについての `help()` は次のようにオブジェクトのドットシンタクスとして呼び出す。 属性も同じ。 オブジェクトがないとエラーになる。

In [109]:
x = 12
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

`list.append` は要素をリストの最後に付け加える

In [113]:
# Pluto is a planet darn it!
planets.append('Pluto')
print(planets)
print(planets.append("Nothing")) # append に返り値はない

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto', 'Pluto']
None

メソッド `append` はリスト型のメソッドなので、`help()` で呼び出す際にもなんらかのリストをつける必要がある。

`help(append)`とするとエラーになる。そこが組み込み関数の `max` などと違うところで、`max` の場合 `help(max)` で呼び出せる。

`help([].append)` のドキュメントにある、`-> None` の部分が `list.append` が返り値がないことを表している。

---
`list.pop` はリストの最後の要素を削除する。

In [5]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)
planets.pop()
print(planets)
planets.append('Neptune')
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

質問 $\quad$ ということは、push, pop ペアではなくて、append, pop ペアなのか。これでスタック操作ができるかも。

---
リストの検索

`planets`の中で`Earth`は何番目にあるか?

list.indexメソッドを使う。

In [ ]:
planets.index('Earth')

2

`planets`の中で`Earth`は3番目にあることがわかる。インデクスは 0 スタートなので、2 が 3 番目という意味になる。

存在しない要素を検索するとエラーになる。

'Pluto' is not in list

In [ ]:
# 次のコードはエラーになる
# planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
# planets.index('Pluto')

エラーにしないために事前に調べる方法がある。

In [ ]:
# Is Earth a planet?
"Earth" in planets

True

---
リストについてのすべてのメソッドを知るには、`help(planets)`もしくは`help([])とすればいい。

In [ ]:
# help([])

`__eq__`とか` __iadd__ `とか変な名前のメソッドがたくさん出てくるが、とりあえず気にしないでよい。たぶ直接使うことはなく、インデクスや比較演算子の背後で使われているメソッドである．

最後の方にある、`append`、`clear`、`copy` 等を学ぶのがよい。

In [6]:
help([].clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [7]:
help([].copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

# タプル

タプルとリストの違いは次の2点.

1. タプルを作るときには丸括弧 `parenthesis`を使う。リストは角括弧 `square bracket`。 集合は波括弧 'brace' 。

2. タプルは可変ではない。イミュータブル `immutable` である。

In [ ]:
t = (1, 2, 3)
t

(1, 2, 3)

In [ ]:
t = 1, 2, 3 # t = (1, 2, 3) と同じ。カンマがタプルを生成する
t

(1, 2, 3)

In [11]:
# タプルは変更できない。エラーになる
# t = (1,2,3)
# t[0] = 100

タプルは複数の返り値を持つ関数に使われる。

例えば、`float` オブジェクトのメソッドである `as_integer_ration()` は分子と分母をタプルの形で返す。

In [12]:
x = 0.125
x.as_integer_ratio()

(1, 8)

結果を変数に入れるには次のようにする。

In [ ]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

メモ

次の例を含め、有名な ` stupid  python tricks` を考えよう。 課題。

In [13]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [17]:
a = 1
b = 0
tuple = a, b = b, a
print (tuple)
print (a, b)

(0, 1)
0 1

---
問題

リストを引数として、2 番目の要素を返す関数を作る。 もし 2 番目の要素がない場合は None を返す。

In [ ]:
def select_second(L):
    """Return the second element of the given list. If the list has no second element, return None."""
    if len(L) < 2 :
        return None
    else :
        return L[1]

L = [0, 1, 2, 3]
print(select_second(L))
print(select_second([]))
print(select_second([1]))
print(select_second([1,2]))

1
None
None
2

---
問題

スポーツチームの問題。それぞれのチームのリストでコーチの名前がリストの最初にあり、キャプテンが2番目、それ以降はチームのメンバー。このチームのリストがリストになっていて、最初がベストチーム、で最後がワーストチームの順に並んでいる。

ワーストチームのキャプテンを選ぶプログラムを作る。

In [ ]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    return teams[-1][1]

teams = [["bob", "mark", "john"], ["peter", "matthew", "willy"]]

print(losing_team_captain(teams))

matthew

---
問題

マリオ・カートゲームの次回作では、*Purple Shell*というアイテムが装備され、それを使うとビリのレーサーとトップのレーサーが入れ替わるというとんでもないことが起きる。

次のプログラムを完成させ、Purple Shellの効果を実装する。

In [ ]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    racers[0], racers[-1] = racers[-1], racers[0]
    return racers

r = ["Mario", "Bowser", "Luigi"]
purple_shell(r)
r

['Luigi', 'Bowser', 'Mario']

---
問題

リストの長さの確認

In [ ]:
a = [1, 2, 3]
b = [1, [2, 3]]
c = []
d = [1, 2, 3][1:]

print(len(a))
print(len(b))
print(len(c))
print(len(d))

3
2
0
2

---
問題

パーティ出席者のリストがある。次の 7 人のゲストのリストで Adela が最初に到着し、Fordが 最後に来た。

In [ ]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

かっこよく遅刻`fashionably late`は、パーティのゲストの半分より後に到着し、最後ではないゲストたちを指す。今回の例では Mona と Gilbet が `fashionably late` である。

リストと名前を引数に取り、`fashionably late`かどうかを返すプログラムを作る。

In [ ]:
import math

def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    fashionable_attendees = party_attendees[math.ceil(len(party_attendees)/2):-1]
    return name in fashionable_attendees


party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

print(fashionably_late(party_attendees, "Adela"))
print(fashionably_late(party_attendees, "May" ))
print(fashionably_late(party_attendees, "Gilbert"))
print(fashionably_late(party_attendees, "Ford"))

False
False
True
False

# ここから kaggle05loop.ipynb

# ループ

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

`for` ループでは次のようなことが行われる。

* 使われる変数が指定される。今回の場合 `planet`
* ループする値のセット。今回の場合は `planets`
* `in` という単語を使っての変数と値のセットとのリンク

`for` ループで集合 `set` が使えるか。

使えた。 下記参照。

In [20]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
print(multiplicands)
print(product)

multiplicands = set(multiplicands)
print(multiplicands)
product = 1
for mult in multiplicands:
    product = product * mult
print(product)

(2, 2, 2, 3, 3, 5)
360
{2, 3, 5}
30

文字列の文字についてもループできる。

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

---
range()

`range()`は数列をつくる関数で、ループを書くときに役に立つ。

たとえば同じ作業を5回やりたいとする:

In [ ]:
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

# いまここ

### while ループ

`while`ループは条件を満たしている間、繰り返す。

In [ ]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

`while`ループの引数はブール式として評価され、ループは式が`False`になるまで繰り返される。

### List 内包表記

Pythonのリスト内包表記はたいへん人気がある。。

理解するためにまず例をみよう。

In [ ]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

これをリスト内包表記でなくあらわすとしたら次のようになる。

In [ ]:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

次のは`if`を使ったリスト内包表記である。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

`SQL`の`WHERE`節に似ていると言える。

次の例ではループ変数に`if`条件文でフィルターをかけて、それを変形している。

In [ ]:
# str.upper() returns an all-caps version of a string
loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

リスト内包表記の左部分はループ変数を含む必要はないが、たいていは含んでいる。

次のプログラムはリスト内包表記の左部分にループ変数を含まない例である。

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

リスト内包表記と`min`、`max`、`sum`などの関数を組み合わせるとリスト内包表記を使わなければ何行にもなるプログラムを一行で書くことができる場合がある。

次の2つのコードセルは同じことをやっている。

In [ ]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

count_negatives([5, -1, -2, 0, 3])

2

In [ ]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])

count_negatives([5, -1, -2, 0, 3])

2

コードを短くすることだけが目的ならば次のようなのはどうか。


Well if all we care about is minimizing the length of our code, this third solution is better still!

In [ ]:
def count_negatives(nums):
    # Reminder: in the "booleans and conditionals" exercises, we learned about a quirk of 
    # Python where it calculates something like True + True + False + True to be equal to 3.
    return sum([num < 0 for num in nums])

count_negatives([5, -1, -2, 0, 3])

どの解決方法が最善か、は主観的なものだが、短いコードはそれだけで価値がある。

しかし、`The Zen of Python`のつぎのくだりを心に留めておくことも大切だ。

```
読みやすさは大切だ。
明示的であることは暗黙的了解よりよいことだ。
```

リスト内包表記のようなツールを使ってプログラムを短く読みやすくしよう。多くの場合、短いプログラムは理解もしやすい。

# 練習問題

### 問題 1

デバッグは運任せと感じたことがあるだろうか?

次のプログラムを完成させよう。

In [ ]:
# Try to identify the bug and fix it in the cell below:
# def has_lucky_number:
#     """Return whether the given list of numbers is lucky. A lucky list contains
#     at least one number divisible by 7.
#     """
#     for num in nums:
#         if num % 7 == 0:
#             return True
#         else:
#             return False

def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    answer = False
    for num in nums:
        if num % 7 == 0:
            answer = True
            break
    return answer

print (has_lucky_number([1, 2, 3]))
print (has_lucky_number([1, 2, 3, 7]))

False
True


### 問題 2

次のプログラムはコメントを外して実行するとエラーになる。

In [ ]:
# [1, 2, 3, 4] > 2

書き直してみよう。

In [ ]:
def greater_than_two (nums) :
    answer = []
    for num in nums :
        if num > 2 :
            answer.append(num)
    return answer

print (greater_than_two([1, 2, 3, 4]))

[3, 4]

`R`とPythonはnumpyとpandasというライブラリーがあり、リストと2を比べて `[False, False, True, True]`のようなブール型のリストを返す機能がある。

対応する要素が`n`より大きいかどうかをブール型の要素のリストで返す関数を作る。

In [ ]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    answer = []
    for num in L :
        answer.append(num > thresh)
    return answer


elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]


### 問題 3

食事のリストについて、同じ食事が2日続けて出されていれば`True`、そうでなければ`False`を返すプログラムを書く。

In [ ]:
def menu_is_boring(meals):
    """Given a list of meals served over some period of time, return True if the
    same meal has ever been served two days in a row, and False otherwise.
    """
    answer = False
    for i in range(len(meals) - 1) :
        if meals[i] == meals[i + 1] :
            answer = True
    return answer

meals = ["curry", "cutlet", "soup", "sushi"]
print (menu_is_boring(meals))
meals = ["curry", "cutlet",  "soup", "sushi", "sushi"]
print (menu_is_boring(meals))

False
True

### 問題 4

Pythonカジノにはブラックジャックのテーブルの横にスロットマシンがある。

`play_slot_machine()`を実行すると、賞金がでる。普通は0ドルを返してくるが、運がよければ大金が手に入る。

試しにやってみよう。

In [ ]:
# play_slot_machine()

ところで、1回1ドルかかるって言ったっけ。気にしなくていい、あとで請求書が行くから。

1回スロットマシンでプレイするたびの期待される儲け(ロス)はいくらか。カジノはそれを秘密にするけれど、モンテカルロ法によって推測することができる。シミュレーションで回数を繰り返して平均値をとることによって期待値を計算する方法である。

次の関数を完成させる。

In [ ]:
def estimate_average_slot_payout(n_runs):
    """Run the slot machine n_runs times and return the average net profit per run.
    Example calls (note that return value is nondeterministic!):
    >>> estimate_average_slot_payout(1)
    -1
    >>> estimate_average_slot_payout(1)
    0.5
    """
    result = []
    for x in range(1, n_runs):
        result.append(play_slot_machine())
    return (sum(result) - n_runs)/n_runs