<a href="https://colab.research.google.com/github/kalz2q/mycolabnotebooks/blob/master/matplotlib01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# メモ

1. matplotlibで数直線とか、ただの三角とか描きたい。
1. 本家サイト https://matplotlib.org/
1. いろいろできあがりとか使い方のサイトはあるのだが基本からわからりたい。まああがいてみるか。

In [1]:
import matplotlib.pyplot as plt
import numpy as np

まず気づくこと。1. インポートが `pyplot` なのですね。で `plt` これも変わった省略の仕方だ。2. `sympy` とかではなくて `numpy`をインポートする。

`numpy` ってあまり Python の入門コースには出てこないけど。別途学ぶ必要があるかもしれない。

おお、そう言えば `ndarray` って `numpy` かもしれない。

ndarray は N-dimensional array だって。numpy の n ではなかった。

あと、そもそも、python はリストとタプルなので、array という型はないみたい。

In [19]:
import numpy as np
arr = [[1, 2], [3, "this"]]
# ndarray を作る
a = np.array(arr)
print (type (arr))
print (type (a))
print (a)
print (a.ndim) # 次元吸う
print (a.shape) # m * n
print (a.size) # 要素数
print (a.dtype) # データ型 int とか float とか
print (a.data)

<class 'list'>
<class 'numpy.ndarray'>
[['1' '2']
 ['3' 'this']]
2
(2, 2)
4
<U21
<memory at 0x7fe9cce8dea0>

In [24]:
np.zeros([3,3], dtype=int)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [25]:
np.ones([3,3], dtype=int)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])